[2016-06-23 13:35] SharpBombsMC commented on #97
@maso27 I will test it out today. If it helps my USB microphone has static whenever im not talking to it

[2016-06-23 13:38] SharpBombsMC commented on #97
@maso27 I really appreciate you helping me! If this helps you, my sound card is a a speaker and a mic. Well, I have to plug my AUX into the sound card. The microphone works when I do plughw 1,0 when I'm recording using a record. I haven't tried what you said yet but I hope it works!

[2016-06-23 14:25] dlarue commented on #99
Here's a few I've noticed:
It'll run on a full OS( Linux and maybe even Windows ).
It's written in Python which is what makes it so portable.
It's already designed to run on one of the most popular embedded boards( rPi ).
You won't find it in an app store.

[2016-06-23 19:30] SharpBombsMC commented on #97
@maso27 I found something!

`  File "main.py", line 379, in start
    inp = alsaaudio.PCM(alsaaudio.PCM_CAPTURE, alsaaudio.PCM_NORMAL, device)
alsaaudio.ALSAAudioError: Device or resource busy
`

[2016-06-23 20:07] maso27 commented on #97
Try "ps ax | grep main.py" and see if Alexa's running more than once. (So you should see just one "python /root/AlexaPi/main.py" and then a line with "grep" on it)

Maybe Alexa is double-loading.  If there's more than one instance, type "kill xxxx" where xxxx is the number in front of one of the lines above.

[2016-06-23 20:20] SharpBombsMC commented on #97
ok! Also, alexa might not be recognizing my voice because my microphone is being static. It is fixed by doin:  -f S16_LE -r 44100 in arecord. Can I add that to main.py somehow?

[2016-06-23 20:23] SharpBombsMC commented on #97
@maso27 I get `2596 pts/0    S+     0:00 grep main.py
2596` I restarted the pi and still the same error. :/

[2016-06-23 20:34] maso27 commented on #97
I'm not sure I understand.
Type _**ps ax | grep main.py**_

If things are good, you should see:
_**384 ?        Sl     0:15 python /root/AlexaPi/main.py
13917 pts/0    S+     0:00 grep --color=auto main.py**_
...or very similar.

If you see the first line twice, (with different numbers), type _**kill 384**_ or whatever the number is for one of the running python instances.
That will kill one insta

[2016-06-23 20:40] SharpBombsMC commented on #97
@maso27 now how am I supposed to run main.py and grep?

Main.py: https://gyazo.com/5c5011972a610df59069e0c9159f5b4d

Grep: https://gyazo.com/dc2b82b9050d630d10414d40b5a784f1

[2016-06-23 20:51] maso27 commented on #97
Aaah.  You're running it from the terminal.

So the easiest way, which is how this runs by default, is to type:
_**python main.py &**_

The ampersand tells it to run in the background.  Then you can use the terminal for other things, and it'll keep running after you log out.

Try that.
But based on what you just showed me, it looks like it doesn't recognize your microphone.

If you don't have more

[2016-06-23 21:00] SharpBombsMC commented on #97
@maso27 I re cloned the repo and set it up. Now this happens:

I do python main.py and it goes:
`Checking Internet Connection...
Connection OK
`

thats it. It says hello.

[2016-06-23 21:03] illperipherals commented on #97
Are you still on flooie's voice branch?

[2016-06-23 21:03] SharpBombsMC commented on #97
No, i am not still in his branch.

[2016-06-23 21:04] SharpBombsMC commented on #97
Now this happens: https://gyazo.com/6e9c8efa4bea57c76fffe3f0113bce22

... It is not double starting.

[2016-06-23 21:06] maso27 commented on #97
@SharpBombsMC
I added command line switches yesterday that enable "silent" mode and "debug" mode.
Before that, "debug" mode was on by default, which spewed out all the other lines of information.  Now you can enable it by typing _**python main.py -d &**_ to start it.

Silent mode will turn off the "hello" when it boots.

@illperipherals
We're working on the branch I made, which is a simpler voice-

[2016-06-23 21:10] SharpBombsMC commented on #97
It now works! thank you!

[2016-06-23 21:12] SharpBombsMC commented on #97
Never mind D: Now it is giving the error again :(

[2016-06-23 21:13] illperipherals commented on #97
Thanks @maso27 . I had PocketSphinx working, but just started to move over to snowboy.
I am trying to get Telegram working with the PicoTTS for testing. I have it loading up in yakuake right now that will feed voice files over. Is there an IRC chan?

@SharpBombsMC , are you using the single USB for in/out? (didn't mean to interrupt your issue)

[2016-06-23 21:18] caiismyname opened #100 "Amazon instructions vs. AlexaPi Implementation"
Hi all! (Heads up -- not an issue, just a question)

I was trying to create my own version of an Alexa interface on RPi through Python (for learning!) using this implementation as an example. I noticed that on Amazon's [instructions](https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/managing-an-http-2-connection) regarding interfacing with Alexa, they say to open and mai

[2016-06-23 21:20] flooie commented on #97
For what its worth - I modified and built my code on a RPi 3.

[2016-06-23 21:24] maso27 commented on #97
@flooie
I love the work you've done!  I've found configuration of snowboy to be a bit laborious, so I haven't embraced it yet.  I'm holding off until things get a bit more... automatic?

I've been alternating between a RPi 2 and RPi 3, depending on whether I'm at home or work.

[2016-06-23 21:24] SharpBombsMC commented on #97
@maso27 @flooie Sometimes (most of the time) I will get static as an answer... Why? How can I fix this?

[2016-06-23 21:26] lennysh commented on #100
You're referring to the second version of the Amazon API with the open connection. This script currently is using the first version of the Amazon API.

[2016-06-23 21:32] maso27 commented on #97
@SharpBombsMC I'm not sure on that one.  Maybe try the onboard 3.5mm jack?  You'll have to change the default output for that though.

[2016-06-23 21:35] SharpBombsMC commented on #97
I don't know how to change it for the 3.5mm jack. How do I do that? It always wants to come out my sound card. My sound card has a jack built in. I want it to come out my default raspberry pi jack. How do I do that?

[2016-06-23 21:36] illperipherals commented on #97
@SharpBombsMC can you go through the details when playing directly to the USB?
something like: aplay myfile.wav -v -V mono -D sysdefault:CARD=1

[2016-06-23 21:37] flooie commented on #97
Have you been able to play anything. Unrelated to this project.  aplay style?

[2016-06-23 21:38] illperipherals commented on #97
auto is "0", 3.5 is "1", HDMI is "2"l

[2016-06-23 21:48] caiismyname commented on #100
Oh, that explains it! Thanks. Do you know of any working examples using the 2nd API version? I'm having trouble establishing that connection

[2016-06-23 21:50] flooie commented on #100
There is a work in progress project on github for v2.

[2016-06-23 21:51] flooie commented on #100
Also I believe a few of us are working on it.  I'm working on an objc version as well.  Also the v2 is for python 3

[2016-06-23 21:58] SharpBombsMC commented on #97
@flooie Yes! Sometimes it will be static though. It never was static until had to plug it in to my sound card. I have a raspberry pi 3. I want my sound card JUST FOR MY MIC. and my default audio jack 3.5mm just for speakers. How would I do that?

[2016-06-23 21:59] SharpBombsMC commented on #97
Inside .asoundrc I have it set to record my sound card as default. PCM or something. When I plug my AUX into my default not sound card audio jack nothing is heard. When I plug it into my sound card audio jack I hear static.

[2016-06-23 22:01] SharpBombsMC commented on #97
@maso27 since this project is set to record from plughw one (USB) I don't have to set my mic as default right? Then everything works if so

[2016-06-23 22:05] maso27 commented on #97
If your mic is the only capture device you have attached, you shouldn't need to set it as default.

[2016-06-23 22:30] SharpBombsMC commented on #97
I will try that and get back to you later!

Thank you all for replying and helping I really appreciate it.

@maso27 @flooie @illperipherals

[2016-06-23 22:45] aazimh commented on #82
Hi guys,

@flooie - I've used your branch (after failing to try and hack snowboy into the master one) and I'm running into issues with VLC weirdly enough. Here's my error:

`Traceback (most recent call last): File "start.py", line 2,
in import snowboydecoder
File "/root/AlexaPi/snowboydecoder.py", line 11, in <module>
import main
File "/root/AlexaPi/main.py", line 48, in <module>
i = vlc.Instance(

[2016-06-23 23:16] SharpBombsMC commented on #97
Everything works! Thank you so much! It has always been my dream for this!

[2016-06-24 02:17] caiismyname commented on #100
Is that work in progress public? Would you mind pointing me towards it so I can have a general guide to look at? Thanks!

[2016-06-24 11:00] gregwa1953 commented on #100
@David Cai,
"Works in progress" are rarely public.  That's because some people would
try to build it without it being finished and be very frustrated.

On Thu, Jun 23, 2016 at 8:17 PM, David Cai <notifications@github.com> wrote:

[2016-06-24 15:28] aazimh commented on #82
Okay got past that, but now when I run start.py I get the following error:

`Traceback (most recent call last):
  File "start.py", line 31, in <module>
    detector = snowboydecoder.HotwordDetector(model, sensitivity=0.5)
  File "/root/AlexaPi/snowboydecoder.py", line 121, in __init__
    stream_callback=audio_callback)
  File "/usr/local/lib/python2.7/dist-packages/pyaudio.py", line 750, in open

[2016-06-24 15:30] flooie commented on #82
@aazimh have you gone thru the installation process for snowboy - trying setting that up and getting it to work before you try using this - That should help you set up your RPi for the voice activation

[2016-06-24 15:42] aazimh commented on #82
Yes, although I'm having strange issues which I have raised on their Github as well. I can run the snowboy demo and have it detect my keyword. I can also use 'rec' and 'play' separately as the documentation suggests and have them record through USB and play sound through HDMI exactly how I'd like.

However, I can't get the demo itself (and hence snowboy and AlexaPi) to play sounds through my HDMI

[2016-06-24 21:41] aazimh commented on #82
IT WORKS! After a lot of digging around (and installing pulseaudio) I've managed to get to a point where I can make single requests to Alexa!

Question now is - is this how it's meant to be? Or is it supposed to loop back to listening mode after playing the answer? It looks like this depends on the variable 'responseneeded' but I can't really figure out how I would set that to 1.

So happy to have

[2016-06-24 22:00] flooie commented on #82
@aazimh what command do you run to start it it should take commands. Let you interrupt play or respond to follow up questions

[2016-06-24 22:00] flooie commented on #82
@aazimh and yw

[2016-06-24 23:18] aazimh commented on #82
Never mind, I think it listens for the keyword again after giving me the output to the first query. The issue now is I can only get the script to run 20% of the time, the rest of the time I get this error:

`Expression 'paTimedOut' failed in 'src/os/unix/pa_unix_util.c', line: 387
Expression 'PaUnixThread_New( &stream->thread, &CallbackThreadFunc, stream, 1., stream->rtSched )' failed in 'src/host

[2016-06-25 19:57] aazimh commented on #82
Okay so bear with me, I'm back again. I've done a fresh install of Raspbian (with a heavy heart) and that's seemed to have fixed a lot of the underlying issues I had with my PyAudio configuration. I can now run the script successfully 100% of the time.

The issue I have now is what @olsonk got earlier - I get 'device unavailable' when recordAudio() is called, presumably because Snowboy has a strea

[2016-06-26 16:17] bravojun7 opened #101 "can you guide to me how to solve this?"
after boot a few minutes later there is no connection between alexa. How can i solve it..?
==================================================================================
![alexa_log](https://cloud.githubusercontent.com/assets/8638121/16363431/c9af8632-3c04-11e6-96fc-88a822601b5e.png)

[2016-06-26 16:33] flooie commented on #101
Internet issues on your part?

[2016-06-27 00:34] bravojun7 commented on #101
no. our internet work well.  and at first it can well communicate alexa
sever but after a minutue latee it can not communicate .
2016. 6. 27. 오전 1:33에 "flooie" <notifications@github.com>님이 작성:

[2016-06-28 17:17] cyberdie commented on #95
SAme problem here.
Any help?

Play_Audio Request for: /root/AlexaPi/tmpcontent/DailyBriefingPrompt.49f87fb0-3a                                                                                                                               84-4926-bddc-5f754f10e356:Say:DAILYBRIEFING:DailyBriefingIntroduction_1998820366

[2016-07-02 05:36] evancohen commented on #82
Sup folks! I've been building a [smart mirror](https://github.com/evancohen/smart-mirror) and have been following this thread because we're facing similar issues. Pretty sure I've cracked it and am hoping that my solution will work for you too: https://github.com/evancohen/smart-mirror/issues/307#issuecomment-230080698

🚀

[2016-07-03 17:59] bdatdo0601 commented on #89
@korniza is there any fix on yours? It's really weird that l get this error almost everytime before but after install this:
`sudo apt-get install libsox-fmt-mp3`
The frequency of me getting it is less

[2016-07-05 18:29] rahulpathakgit commented on #99
It supports HTTP/2 API version

[2016-07-06 01:27] aravindnatch commented on #82
I know how to fix the input/output error. You have to connect a Bluetooth speaker or use an audio card with your speaker. For some reason it will only work if your speaker is connected via a device with a DAC.

[2016-07-07 03:17] bdatdo0601 commented on #89
@korniza I finally solved the problem. It was  not because of the speed. Rather you just need to change vlc.instance('--aout=alsa') to vlc.instance().

[2016-07-07 03:23] bdatdo0601 commented on #82
Hi, I am a bit late to the game but after couple of day messing with @flooie 's voice command and @maso27 's ver 1.1, I have been able to use Snowboy instead of CMU Sphnix for voice detection (personally I think snowboy is better). It works now but there are a lot of cleaning I need to do and also I haven't test with buttons yet.

ref: https://github.com/bdatdo0601/AlexaPi

@aazimh a fix I used wa

[2016-07-07 21:03] maso27 commented on #82
Great, @bdatdo0601!
I wouldn't doubt that snowboy is better.  I look forward to trying your stuff out.

[2016-07-07 21:41] bdatdo0601 commented on #82
@maso27 all credits should be yours. Everything is really well documented so it's really easy for me to tweak it up.

[2016-07-08 07:33] jianmliu commented on #82
Hi all, I have been watching this discussion and similar to @bdatdo0601 , I was struggling with @flooie voice command branch. Meanwhile, I just tried @bdatdo0601 version too, and issue I got was regarding the sampling rate. It seems that my USB audio dongle only supports 44100 sampling rate instead of 16000 required by both AVS and snowboy. I fixed this problem in main.py using pysox, but for the

[2016-07-08 15:32] chenguoguo commented on #82
@jianmliu could you make sure your data is in the right format? We support 16bit PCM data. What you can try is to save the raw data to a file, then play it with for example "play -r 16000 -c 1 -b 16 -e signed-integer Your_Raw_Data". If you can hear the recording correctly, that means your data is in the right format.

[2016-07-08 16:25] bdatdo0601 commented on #82
@jianmliu can you post up the error? I tried to tweak the rate to 44100 once and although it records perfectly, both Snowboy and Alexa stop working.

[2016-07-11 14:07] parttimehacker commented on #98
I know you are busy but this is high on my list. I've got the current version working (thank you!), but Amazon has the rev 2 out which requires html/2 as you know.

[2016-07-12 23:15] jianmliu commented on #82
@chenguoguo I have tried to save the data in raw format and there were two issues: 1. low volume, 2. distortion. For the first one, there seems something abnormal in my settings or usb audio adapter, which causes the low recording volume, but AVS could work with this low volume. It should be noted that there is no speech distortion in the AVS recording.wav, and I am still trying to figure out why

[2016-07-12 23:38] chenguoguo commented on #82
@jianmliu I assume you are using the personal model. What you could do is to record 3 examples from your Pi with your microphone, submit those 3 examples to our website to train the model, and then download the model and use it. When you record you could use command like "rec -r 16000 -c 1 -b 16 -e signed-integer". It will be better if you make sure there's no surrounding noise around your hotword

[2016-07-13 03:32] nitrag commented on #82
@bdatdo0601
Your requirements file still has pocketsphinx, is this still necessary if you are using snowboy?

[2016-07-13 04:37] flooie commented on #82
@nitrag yes

[2016-07-13 06:08] bdatdo0601 commented on #82
@nitrag I want to say no but then again I am not sure if there is any sphnix part that I haven't reconfigured/removed yet. I am working on cleaning thing up a bit/learning about linux OS and Python. I hope to commit a "cleaner" version soon.

@jianmliu I just switched to an USB dongle microphone from my webcam microphone. the problem right now is the recording sounds great but the Snowboy sampling

[2016-07-14 04:43] ankush1012 opened #104 "Error when switching on Alexa"
Hi,
I am getting the below error as soon as I'm switching on button to talk to Alexa and program is ending.

Traceback (most recent call last):
File "main.py", line 156, in <module>
start()
File "main.py", line 135, in start
l, data = inp.read()
UnboundLocalError: local variable 'inp' referenced before assignment

[2016-07-16 21:04] mholzi commented on #69
Hi guys,
I have the same issue. Is there a solution to the "device or resource busy" yet?

[2016-07-17 22:15] luisbarreto commented on #89
@bdatdo0601 Can you please specify where the change you're proposing should be made?

[2016-07-17 22:17] aazimh commented on #82
@bdatdo0601 I couldn't give this a shot until today as I was abroad, but I did, and your branch is the one that finally lets me make multiple queries! I'm sure the crux of the problem was always my pulseaudio/pyaudio setup and config, but so relieved to have this working. Thank you so much!

[2016-07-18 05:59] jianmliu commented on #82
@bdatdo0601 I just tried to use to a logic webcam as audio input device instead of my 44K only audio dongle, and used the onboard audio jack as playback. It works now, but there are some other additional changes I made based on your codebase, and hopefully this might be helpful to other guys. I increased the CHUNK to 8000 instead of 800 in order to void overflow, and removed exception_on_overflow=

[2016-07-18 08:32] cropse opened #105 "response 204"
Hi :
I've try the demonstration, but there is no response after I recorded
So I print out the r.status_code is 204, which mean no content, Is any way to figure out reason??

Thanks

[2016-07-18 08:40] sammachin commented on #105
Usually this is because the audio file that was sent to alexa is blank/silent.

The last recorded command should be in recording.wav, try playing that and see what it sounds like, could be an issue with your mic

[2016-07-18 08:53] JinheeC opened #106 "no response after "Connection OK""
Hello, I got refresh_token and now I tried to start main.py.
when I type "python main.py" it says "checking internet connection" and "Connection OK".
but there is no response after these statements.

I tried almost things of the previous answers related to my question.
1. I changed the device variable from "plughw:1" to "Device"
2. I changed the setperiodsize(500)
...

but, nothing was changed..

[2016-07-18 09:22] stu0219 commented on #105
Thanks, I found the answer, and the problem is cause permission error
, and it worked right now

[2016-07-18 09:28] stu0219 commented on #106
Print out the r.status_code at alexa() below, at least know pi is triggered or not

[2016-07-18 23:09] luisbarreto commented on #106
Hello, same issue here.
Printing the r.status_code gives a 403 witch is "Forbiden" / "Unauthorized"

I double checked the creds.py and every field is correctly filled (double checked with copy/paste) with my credentials.
The only one empty is the refresh_token = '' witch is blank.

Any pointers would be greatly appreciated.

[2016-07-19 01:31] stu0219 commented on #106
It might be not same issue
Attribute refresh_token should not be empty, there is mistakes of your setup progress
When the setup be done, refresh_token of cred.py need to full of string, try adding sudo maybe?

[2016-07-19 01:55] JinheeC commented on #106
@stu0219 thanks, I printed the status_code and it was 200 or sometimes 204.
I think it works properly. but I can't hear anything from my earphone.

[2016-07-19 07:40] #106 closed

[2016-07-26 16:56] fernando-vera opened #108 "BUG: I've been running version1.1 and it seems to work fine until running a skill breaks it"
Update: I'm able to replicate the bug consistently everytime. All you have to do is run a skill that requires you to answer back such as the teacher skill. If you run through the set of questions until it finishes, the next time you ask it any question you will get the "I'm sorry I'm having trouble please try in a little while" error. Leaving Alexa alone for a while even without restarting it will

[2016-07-26 17:29] fernando-vera commented on #108
Update: It's very odd it started working again after a restart although that's not always the case. It worked fine then I ran the teacher skill and it worked but after finishing it no longer worked and gave me the same error. I think there may be a bug with Alexa skill integration? I'm hopping someone else can tell me if they have the same issue with version1.1.

[2016-07-26 20:58] fernando-vera commented on #64
I ran into the same thing and that's how I was able to fix it.

[2016-07-27 17:42] hemingweb opened #109 "Amazon authentication fails"
I'm unable to authenticate with amazon. I get an error related to the Allowed Return URL, I've added 'https://localhost:5000/authresponse' and 'https://192.168.25.7:5000/authresponse'.

When I call the auth_web.py I get the following output:

sudo python auth_web.py
[27/Jul/2016:18:33:14] ENGINE Listening for SIGHUP.
[27/Jul/2016:18:33:14] ENGINE Listening for SIGTERM.
[27/Jul/2016:18:33:14] ENGIN

[2016-07-27 19:40] Mavrikant commented on #109
Are you opening URL with your computer's browser or Raspberry pi's browser?

[2016-07-27 20:34] hemingweb commented on #109
I'm openinghte browser on the raspberry pi. I'm using a pi3, forgot to mention in the original post

[2016-07-28 20:09] hemingweb commented on #109
Here's a screenshot of the error
![screen shot 2016-07-28 at 21 07 47](https://cloud.githubusercontent.com/assets/3269818/17227720/948891da-5507-11e6-91be-ffee2e4c7090.png)

![screen shot 2016-07-28 at 21 07 19](https://cloud.githubusercontent.com/assets/3269818/17227700/81eb6eb2-5507-11e6-858d-794e04ab4a18.png)

[2016-07-28 20:29] maso27 commented on #109
As far as I know, "authresponse" is used in Amazon's demo app, not AlexaPi.
You want to replace "authresponse" with "code"

So 'https://localhost:5000/code' and 'https://192.168.25.7:5000/code'

(Also, in my setup I have http instead of https, but I don't think that makes a difference.)

[2016-07-28 21:33] hemingweb commented on #109
Epic. I changed 'autoresponse' to 'code' not sure where I missed that. the authentication failed again. I then changed https to http and tried again. Success, the service authenticated and prompted a reboot.

Cheers

[2016-07-28 21:33] #109 closed

[2016-07-28 21:52] hemingweb opened #110 "Syntax Error in creds.py"
Having generated the amazon refresh_token. I ran the main.py script and received a SyntaxError: invalid syntax, crews.py line 10.

This isn't going smoothly, any suggestions?

![screen shot 2016-07-28 at 22 48 21](https://cloud.githubusercontent.com/assets/3269818/17230740/e741811c-5515-11e6-8b52-0cd0470142b8.png)

[2016-07-28 21:59] maso27 commented on #110
You've got more than one "refresh_token" in there.

Delete the second one, and you should be good!

[2016-07-29 06:34] hemingweb commented on #110
cheers, I had only checked the start and end of the in nano.

[2016-07-29 06:34] #110 closed

[2016-07-29 06:36] hemingweb opened #111 "Client is not authorised to connect to Serverxbc_connection_has_error()"
Hi,

Where would I starting to diagnose this issue?

Cheers

![screen shot 2016-07-29 at 07 32 23](https://cloud.githubusercontent.com/assets/3269818/17239854/2015f4d4-555f-11e6-90da-1cfda960b558.png)

[2016-07-29 06:39] hemingweb commented on #111
I had installed zero conf and connect to the pi using screen sharing on my mac. Not sure if it relevant, is this a tightvnc issue?

[2016-07-29 21:55] maso27 commented on #111
I've never seen that error, but it might be worth trying to use SSH instead of tightvnc.

AlexaPi runs fine on Debian Jessie Lite, so I've never tried it with a desktop environment.
You could see if it happens when you ssh in as root and then run it.

[2016-07-30 15:24] hemingweb commented on #111
Thank you for your help

I don't get the this error using shh

[2016-07-30 15:24] #111 closed

[2016-07-30 20:27] moviemanic opened #112 "Timers"
Is there a way to add a timer functionality to AlexaPi? Amazon has a page detailing how it should work but I don't have enough expience to implement it. https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/reference/timers-and-alarms-conceptual-overview

[2016-08-02 18:00] moorlag opened #113 "400 bad request"
Hello,

I'm having a problem; 400 bad request.
I already checked and double checked the settings in the security profile. First it was on https; now it's on http. Return address is the same as Allowed Origins .

**We're sorry!**
An error occurred when we tried to process your request. Rest assured, we're already working on the problem and expect to resolve it shortly.

[2016-08-02 18:27] moorlag commented on #113
Direct after giving the details from the portal this comes to my terminal.

[2016-08-05 03:31] shahvineet98 commented on #97
@maso27
[Traceback (most recent call last):
  File "main.py", line 84, in <module>
    decoder = Decoder(config)
  File "/usr/local/lib/python2.7/dist-packages/pocketsphinx/pocketsphinx.py", line 271, in __init__
    this = _pocketsphinx.new_Decoder(*args)
RuntimeError: new_Decoder returned -1
](url)

I am getting the following error when I run `python main.py`. Any idea how to resolve this?

[2016-08-05 17:27] davebel commented on #105
Hi, I'm having this issue too. I can play recording.wav and it sounds clear. Can you let me know how you resolved it? Thanks

[2016-08-05 20:37] maso27 commented on #97
@shahvineet98
That's kind of a whole new issue.
But I can reproduce the error by removing the "pocketsphinx" directory from /root.

Try typing the following:
[code]

[2016-08-06 11:16] RobertSE opened #115 "Connection Error"
Hi,

Having setup the project on the same 2015-11-21 Jessie Img on a RPi 2. I get repeat error messages on the alexa.log
"Checking Internet Connection
Connection Failed"

However I am connected to the internet (and can browse), what might be causing this issue?

I ran ./setup.sh provided the profile details, pointed my browser to http://localhost:5000, signed in, received the refresh token.
At whi

[2016-08-07 07:43] fenyvesi opened #116 "response 204 again"
I use V1.1.  It worked a week ago. Yesterday  I tried again after installing some other sws(VNC, mosquitto).
It didn't work. I installed AlexaPi again.
The result is the same:
I get always error 204, no Alexa sound answer.
the debug print:

             root@raspberrypi:/home/pi# python /root/AlexaPi/main.py
             Checking Internet Connection...
            Connection OK
            Play_Au

[2016-08-07 14:10] Rigi03 commented on #82
Hi Im not quite sure what I am doing wrong here but whenever i try to run either start.py or main.py it returns an ImportError: No module named _snowboydetect
I'm fairly new to code so I am not sure where to go from here so some help would be much appreciated. Thanks

[2016-08-07 14:30] mochman commented on #116
I have received the same error.  I created a wav file on another computer with a clearer mic using S16_LE 16k mono audio and forced main.py to send that file instead.  I get back the 204 response as well.

[2016-08-07 14:35] fenyvesi commented on #116
Thank you. So the error is in the recording.

On Sun, Aug 7, 2016 at 4:30 PM, Luke <notifications@github.com> wrote:

[2016-08-07 14:37] maso27 commented on #116
This is a bigger issue, within Amazon itself.

https://forums.developer.amazon.com/questions/33371/204-response-1.html

I've seen a couple reports that new accounts are working but old ones
aren't, but I don't think anyone knows what is going on right now. My Alexa
installation quit working last Thursday, and as of right now is still
returning null responses.

[2016-08-07 14:47] fenyvesi commented on #116
I started a virgin RasPi installation but I interrupt it and wait for Amazon. Maybe nothing special is on my side.

Thank you for the information.

[2016-08-07 16:23] mochman commented on #116
@maso27 Yeah, that's what it seems like the issue is.  Maybe they are doing away with APIv1 and moving fully to v2?

[2016-08-07 16:34] illperipherals commented on #116
I *really* don't believe that is the issue.

[2016-08-07 19:55] chenguoguo commented on #82
@Rigi03 Mostly likely it's a library mismatch. What's your OS? Snowboy has pre-compiled Python (2, not 3) libraries for Mac OS X, Ubuntu 64 bits 12.04/14.04, Raspberry Pi (Debian Jessie 8.0) all versions. You can also try to compile your own library, more details here https://github.com/Kitt-AI/snowboy

[2016-08-07 19:56] Rigi03 commented on #82
I'm using a Raspberry pi and honestly not sure where to start to solve the problem
Thanks

[2016-08-07 19:58] chenguoguo commented on #82
what's your python version? what's the output of `uname -a` command?

[2016-08-07 20:05] Rigi03 commented on #82
I'm using Python 2.7.9 and the output is:
Linux Raspberry 4.4.13-v7+ #894 SMP Mon Jun 13 13:13:27 BST 2016 armlv7l GNU/Linux

[2016-08-07 20:16] chenguoguo commented on #82
If you download this [library](https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/rpi-arm-raspbian-8.0-1.0.4.tar.bz2), decompress it, then enter the directory rpi-arm-raspbian-8.0-1.0.4 and type `python`, then `import snowboydetect`, would it give you the same import error? I might have to check my Pi configuration, don't have one by hand now

[2016-08-07 20:24] Rigi03 commented on #82
Excuse my stupidity but I'm not quite sure how to download that library. Could you assist me. Thanks

[2016-08-07 20:35] chenguoguo commented on #82
it's a hyperlink, it should work if you click on the word "library". Or here is the link: https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/rpi-arm-raspbian-8.0-1.0.4.tar.bz2

[2016-08-08 00:22] maso27 commented on #116
I just checked mine, and Alexa is back!

Anyone else having the same success?

[2016-08-08 03:14] fenyvesi commented on #116
I am OK again.

[2016-08-08 06:39] Rigi03 commented on #82
Hi After trying the specified command it just says no such file or directory however I can see the file in file manager

[2016-08-08 10:44] andygbennett opened #117 "Alexa not starting on boot... how to change?"
Alexa is not starting on boot. In /var/log/alexa.log, it says:

"Starting Alexa...
python: can't open file '/root/AlexaPi/main.py': [Errno 2] No such file or directory"

My AlexaPi directory is located at /home/pi/AlexaPi

How can I change the file path to /home/pi/AlexaPi/main.py so that it starts on boot??

Thanks :)

[2016-08-08 15:45] maso27 commented on #117
I can think of two ways.

1.) moving /home/pi/AlexaPi to /root/AlexaPi

2.) editing /etc/init.d/AlexaPi

This project was designed to be run as root, in the /root directory.  So I'm not sure what permissions issues may crop up after moving it.  But see what you can see!

[2016-08-09 14:19] Beaverboy opened #118 "ALSA lib PCM_dmix.c:1022:(snd_pcm_dmix_open) unable to open slave"
My alexa works up until the point when it tries to play back the response. It then issues the above error as well as
alsa audio output error: cannot open ALSA device "default": no such file or directory
core audio output error: Audio output failed
core audio output error: The audio device "default" could not be used : no such file or directory.
core audio output error: module not functional
core d

[2016-08-09 14:55] Beaverboy commented on #82
I've been experiencing the following error after recording my question to alexa. It seems to be unable to playback my answer...

State.Playing
set player
ALSA lib pcm_dmix.c:1022:(snd_pcm_dmix_open) unable to open slave
[00fa3f48] alsa audio output error: cannot open ALSA device "default": No such file or directory
[00fa3f48] core audio output error: Audio output failed
[00fa3f48] core audio outpu

[2016-08-11 16:13] Beaverboy commented on #118
I am using the headphone jack on a raspberry pi 3. I have been stuck at this point for days :'( would really appreciate some input, or some other things to try.
ive tried changing the alsa.conf file in order to resolve this issue, but havent had any luck.

[2016-08-11 16:44] maso27 commented on #118
I'm not sure which version of AlexaPi you're running, but you might try changing any line in main.py that uses "vlc.Instance" to the following:

`vlc.Instance('--aout=alsa', '--alsa-audio-device=plughw:0,0')`

[2016-08-11 17:04] Beaverboy commented on #118
I fixed it for the time being. Ill post some instructions about what I had to do to fix it, seems my issue was related to the different asoundrc configurations ( one for root ~/.asoundrc and one for user pi /etc/asound.conf ), it seems I only had to specify what the hardware care values were in both locations.

[2016-08-13 01:25] andygbennett commented on #82
@chenguoguo

Hi, I have had the same error and have done what you mentioned above:

"If you download this library, decompress it, then enter the directory rpi-arm-raspbian-8.0-1.0.4 and type python, then import snowboydetect, would it give you the same import error? I might have to check my Pi configuration, don't have one by hand now. You have to do all those on your Pi."

The error I got was:

I

[2016-08-13 01:28] chenguoguo commented on #82
@andygbennett could you give a link of the library you used? I'll check on my raspberry pi to see if I released the wrong library...

Also, please give me more info of your setup, e.g., os version, architecture, etc.

[2016-08-13 01:33] andygbennett commented on #82
@chenguoguo

This is the library I used (the one you linked):

[2016-08-13 01:37] andygbennett commented on #82
@chenguoguo This is the library I used (the one that you linked)

https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/rpi-arm-raspbian-8.0-1.0.4.tar.bz2

I am running it on a raspberry Pi 3. My output from `uname -a` is

Linux raspberrypi 4.4.11-v7+ #888 SMP Mon May 23 20:10:33 BST 2016 armv7l GNU/Linux

I am running raspbian jessie.

[2016-08-13 01:56] chenguoguo commented on #82
@andygbennett it might be caused by the new kernel. I'm still on kernel 4.1. I'm leaving the office so I'll look into this on Monday.

[2016-08-13 12:36] Danthelord98 commented on #97
@maso27
I have exactly the same issue as @shahvineet98.

The fix you suggested unfortunately does not fix the problem. Whenever I run main.py I get exactly the same error code.

[2016-08-24 14:45] jaydev1997 opened #119 "Traceback (most recent call last): File "main.py", line 25, in <module> import webrtcvad ImportError: No module named webrtcvad"
Traceback (most recent call last):
  File "main.py", line 25, in <module>
    import webrtcvad
ImportError: No module named webrtcvad

[2016-08-24 14:51] maso27 commented on #119
I'm guessing this is for my 1.2 version, considering that's where there's a main.py where line 25 says `import webrtcvad`.

Somehow you've missed the installation of webrtcvad.  Try typing `pip install webrtcvad` from the command terminal and see if that helps.

[2016-08-24 14:54] jaydev1997 commented on #119
It works and another error import pocketsphinx.pocketsphinx

[2016-08-24 14:56] jaydev1997 commented on #119
i tried to install :  pip install pocketsphinx

but i got this error...   -- http://hastebin.com/utazadizar.tex

[2016-08-24 14:58] maso27 commented on #119
Did you install AlexaPi by running setup.sh?

1.) Login as root
2.) Place the directory labeled "AlexaPi" in /root
3.) Run `/root/AlexaPi/setup.sh` and follow the instructions.

These things should be taken care of if you've already done that.

[2016-08-24 15:00] illperipherals commented on #119
Have you cats been looking at silence detection?

[2016-08-24 15:02] maso27 commented on #119
Yeah.  It works quite well on my 1.2 branch.

[2016-08-24 15:03] illperipherals commented on #119
I am using snowboy at this point, but wanting to pick a lot of your button stuff. What is the best upstream there?

[2016-08-24 15:07] illperipherals commented on #119
Also, maso27, here is a pretend trophy for just being a badass carrying this project on.
It may not be heavy, but it is badass.

[2016-08-24 16:09] jaydev1997 commented on #119
@illperipherals  Can you Tell Me how to set Alexa with snowboy..?

[2016-08-24 16:57] maso27 commented on #119
@illperipherals Thanks, man.  My family uses my AlexaPi daily, so it's fun to keep thinking about it.
As to the button stuff--1.2 is good, but I took bdatdo0601's snowboy fork and put some of my things into it too.

I've been wanting to get it into github but I just started a new job so my time is limited lately.
Check out this main.py.  It's got vad, button, and follow-up question listening in it

[2016-08-24 17:03] maso27 commented on #119
@jaydev1997 It took me some work to get snowboy working.  I took notes for what I did, and maybe they'll be helpful:

(note: login as pi instead of root for this)

Git clone https://github.com/bdatdo0601/AlexaPi
apt-get update
apt-get install swig3.0 python-pyaudio python3-pyaudio sox
pip install pyaudio
apt-get install libatlas-base-dev
apt-get install python-pygame
Run as pi with "python start.p

[2016-08-24 17:05] illperipherals commented on #119
@maso27, nice! Give me a bit to dig in. Break a leg on the new job.

@jaydev1997, I have some notes that I have whipped myself into making. What issues are you having? I assume they are probably audio...

Can you do just a general lsusb, aplay -L, arecord -L dump?

[2016-08-24 17:10] illperipherals commented on #119
I was able to resolve a couple issues here:
https://github.com/Kitt-AI/snowboy/issues/9#issuecomment-241577381

[2016-08-24 17:20] jaydev1997 commented on #119
@illperipherals
lsusb         --> http://hastebin.com/utaneyusoh.sm
aplay -L     --> http://hastebin.com/yiyiqipive.sm
arecord -L dump     --> http://hastebin.com/gusewuqeha.avrasm

[2016-08-24 17:22] jaydev1997 commented on #119
@maso27
i still got this error

root@pi:/home/pi/AlexaPi# python main.py
Traceback (most recent call last):
  File "main.py", line 27, in <module>
    from pocketsphinx.pocketsphinx import *
ImportError: No module named pocketsphinx.pocketsphinx

[2016-08-24 17:23] flooie commented on #119
You have the wrong repo...?  maybe

[2016-08-24 17:23] jaydev1997 commented on #119
i already done the setup also the localhost:5050 setup.. then i rebooted.

[2016-08-25 08:30] Tiqni commented on #88
I spent again several days trying all possible packages and tricks, but I couldn't make the Bluetooth microphone appear in the arecord -l devices.

By the way, if someone can explain us how the **oFono** stack works, I found no documentation...

@chilinski Thanks for Plugable feedback, it makes it more clear that HFP/HSP are not at all supported for the moment. So I give up and wait for an officia

[2016-08-25 09:13] Tiqni commented on #88
I close the issue since it is now not directly linked to @AlexaPi.

[2016-08-25 09:14] Tiqni commented on #88
I close the issue since it is now not directly linked to AlexaPi.

[2016-08-25 09:14] #88 closed

[2016-08-25 18:53] shawpbx commented on #115
Hello All, I pointed my browser to http://localhost:5000 and get an error from Amazom.

root@raspberrypi:~/AlexaPi# python auth_web.py
[25/Aug/2016:18:52:50] ENGINE Listening for SIGHUP.
[25/Aug/2016:18:52:50] ENGINE Listening for SIGTERM.
[25/Aug/2016:18:52:50] ENGINE Listening for SIGUSR1.
[25/Aug/2016:18:52:50] ENGINE Bus STARTING
CherryPy Checker:
The Application mounted at '' has an empty con

[2016-08-25 19:40] maso27 commented on #115
Have you configured the web settings at developer.amazon.com?

Allowed Origins: http://xx.xx.xx.xx:5000
Allowed Return URLS: http://xx.xx.xx.xx:5000/code

...where xx.xx.xx.xx is your IP address

[2016-08-26 14:07] shawpbx commented on #115
Yes Thank you. I didn't add the word "code" to the allow return. But after
I  obtain authorization from Amazon and saying to reboot the script keeps
running. If I stop the script and reboot and run python main.py. I get
errors.

root@raspberrypi:~/AlexaPi# python main.py
Traceback (most recent call last):
  File "main.py", line 25, in <module>
    import webrtcvad
ImportError: No module named webr

[2016-08-26 14:48] maso27 commented on #115
@shawpbx Have you run setup.sh to install everything, or did you run auth_web.py on its own?

Based on the fact that you used port 5000 above instead of 5050, (and that it worked), I'm guessing you've got files from a couple different sources.  The version of auth_web.py that's at my 1.2 branch requires port 5050 so it doesn't collide with shairport-sync.

If you haven't, run the setup.sh from tha

[2016-08-26 17:29] shawpbx commented on #115
Thanks, she is loving very minute on the RasPi.

Quick Note. I start with a clean 2016-05-27-rasbian-jessie. I login as pi
and changed root password. Then su to root. change to /root dir. I run git
clone --branch version1.2 https://github.com/maso27/AlexaPi.git then cd to
Alexa. run ./setup. I enter the Amazon questions. Then it asked me to go to
http://xxx:5050. I connect to the webpage and get t

[2016-08-26 17:34] maso27 commented on #115
Yes, Ctrl-C to exit.  That script never stops.
(Hmmm.  Maybe a note about that would be helpful?)

Sounds like you're nearly there!  Next step: figuring out audio devices.

[2016-08-26 17:35] illperipherals commented on #115
Isn't that always the fun part? ;)

[2016-08-26 17:40] shawpbx commented on #115
She is 9y/o and has built a RasPBX phone system for her class. The kids
love playing with it. We added app-rpt and two frs radios to the system. I
know the Pi's are only 35 bucks but its adding up fast. :)

David

--
5.56X45=

Thanks, David

On Fri, Aug 26, 2016 at 10:35 AM, tteague <notifications@github.com> wrote:

[2016-08-26 17:41] shawpbx commented on #115
Here is the log after a fresh install and reboot.

root@raspberrypi:~ $ cat /var/log/alexa.log
Starting Alexa in silent mode...
Traceback (most recent call last):
  File "/root/AlexaPi/main.py", line 25, in <module>
    import webrtcvad
ImportError: No module named webrtcvad

David

--
5.56X45=

Thanks, David

On Fri, Aug 26, 2016 at 7:48 AM, Mason Stone <notifications@github.com>
wrote:

[2016-08-26 19:26] maso27 commented on #115
Strange.  @jaydev1997 was seeing this same issue yesterday too.

Try `pip install webrtcvad` and tell me if there's a new error when you run main.py

[2016-08-26 19:49] Beaverboy commented on #82
I have mine working now, when I start the service on boot using root cron it only sends the last query I spoke to alexa.
for instance. If i kill the startup alexapi service, and then go into my root directory and start the service again using the command line, I can ask alexa whatever i want, and she responds appropriately, however, if i just talk to alexa after startup, she will respond as if she

[2016-08-26 20:42] shawpbx commented on #115
So I installed pip install webrtcvad and ran python main.py.

Successfully installed webrtcvad
Cleaning up...
root@raspberrypi:~/AlexaPi# python main.py
Traceback (most recent call last):
  File "main.py", line 27, in <module>
    from pocketsphinx.pocketsphinx import *
  File "/usr/local/lib/python2.7/dist-packages/pocketsphinx/__init__.py",
line 37, in <module>
    from pocketsphinx import *
  F

[2016-08-26 20:54] maso27 commented on #119
@jaydev1997 If you're still messing with this--I've discovered something wrong with setup.sh.  Stay tuned...

[2016-08-26 20:55] maso27 commented on #115
Huh.  I don't understand it, because I tested this on a fresh install.  But it looks like something's wrong with setup.sh.  Install packages missing.

Stand by...

[2016-08-27 10:47] swilso793 commented on #89
In main.py

[2016-08-27 14:01] maso27 commented on #115
@shawpbx
I have another idea.

Have you run `raspi-config` to expand the raspberry pi image to fill the SD card?

Type `df -h` and see if you've run out of space.

[2016-08-27 14:08] shawpbx commented on #115
Looks like I have 3.0G left.

pi@raspberrypi:~ $ df -h
Filesystem      Size  Used Avail Use% Mounted on
/dev/root       7.2G  3.9G  3.0G  57% /
devtmpfs        459M     0  459M   0% /dev
tmpfs           463M     0  463M   0% /dev/shm
tmpfs           463M  6.3M  457M   2% /run
tmpfs           5.0M  4.0K  5.0M   1% /run/lock
tmpfs           463M     0  463M   0% /sys/fs/cgroup
/dev/mmcblk0p1   63M

[2016-08-27 15:01] shawpbx commented on #115
I ran ./setup and saved the output to a file (see attachment). Looks like
pocketsphinx didn't install. I installed using apt-get install
pocketsphinx. re-ran python main.py. I get a new error. So I did a reboot
and Alexa works.

root@raspberrypi:~/AlexaPi# python main.py
Checking Internet Connection...
Connection OK
Traceback (most recent call last):
  File "main.py", line 592, in <module>
    sta

[2016-08-28 03:11] pagespec1 commented on #119
I had the same webrtcavd error. Running the pip install webrtcvad got me past the error, but thei I also received the pocketsphinx error as @jaydev1997. The error message seemed to indicate that pocketsphinx could not install because pulseaudio is missing or at least "pulse/pulseaudio.h" is not where it should be. I tried installing pulseaudio, but it does not appear to have helped. I chose not to

[2016-08-28 03:48] pagespec1 commented on #119
@jaydev1997 If you do an `apt-get install libpulse-dev` it will fix the issues with pocketsphinx. After installing that library and running the `pip install -r requirements.txt` my Alexa client started in silent mode successfully.

[2016-08-28 22:27] maso27 commented on #115
Glad you had success!
It sounds like pocketsphinx has been moved into the Raspbian repisitory.

When I first started building my branch, I had to build sphinxbase and pocketsphinx from their guthubs, but since then it all moved into pip, and now into apt.  I'll have to make an adjustment and see how it goes.

[2016-08-30 05:56] maso27 commented on #119
@pagespec1 Yes!  That fixes it!
I hadn't seen your posts, and just went through discovering the same thing.

In a nutshell: "pip install pocketsphinx" installs sphinxbase first, in order to build pocketsphinx.  Sphinxbase has a (new?) dependency for libpulse-dev, so it errors out if it doesn't have that.  Webrtcvad just doesn't get installed.

I've fixed the repo so that should no longer be an iss

[2016-08-30 06:04] maso27 commented on #115
@shawpbx I've found the problem and fixed the repository.
The fix is to `apt-get install libpulse-dev` before the `pip install -r requirements.txt`

(I could never get the `apt-get install pocketsphinx python-pocketsphinx` approach working.  If you try this fix, you might have to run `apt-get --purge remove pocketsphinx` before doing it.)

[2016-08-30 14:18] shawpbx commented on #115
Ok I'll run a fresh OS and give it a try. Let you know later today.

David

--
5.56X45=

Thanks, David

On Mon, Aug 29, 2016 at 11:04 PM, Mason Stone <notifications@github.com>
wrote:

[2016-09-01 04:04] Rian9771 commented on #10
@sammachin , is there any effort going on to integrate Spotify into AlexaPi? I am using @flooie 's rep. It would be sweet to talk to spotify and play music. Apologies in advance if i am not posting at the right place.

[2016-09-01 07:26] sammachin commented on #10
@Rian9771
I havn't looked at Spotify yet but I suspect it won't be possible without some commercial arrangement due to things like licensing and DRM.

FYI next time better to post this isn a new issue than using an existing one thats not about the subject.

[2016-09-01 07:33] sammachin commented on #98
I've finally had some time to look at this project, I've spent the last week refactoring the code to be a lot more modular so that we can support multiple different setups and different ways of triggering eg, button, Spinx, Snowboy etc. This should allow me/somebody to work on the v2 api as well without breaking the rest of the project.

[2016-09-01 07:33] #98 closed

[2016-09-01 07:34] sammachin commented on #117
Need to improve install instructions to avoid this problem in future.

[2016-09-01 07:34] #117 closed

[2016-09-01 07:37] sammachin commented on #113
Does the 'Allowed Return URL' address have `/code` at the end, it should be a slightly different URL to the 'Allowed Origin'

[2016-09-01 07:41] sammachin commented on #99
For me the main difference with the 'official' project is that one uses a keyboard/mouse and screen for the user interface eg you have to click a button on a gui to activate Alexa. This project uses hardware buttons and LED's. Also the auth on AlexaPi is  web based.

This means that you can use the RasPi more like an applicance just like the Echo or Tap not like a computer.

As mentioned above it

[2016-09-01 07:41] #99 closed

[2016-09-01 07:44] sammachin commented on #100
I've finally had some time to look at this project, I've spent the last week refactoring the code to be a lot more modular so that we can support multiple different setups and different ways of triggering eg, button, Spinx, Snowboy etc. This should allow me/somebody to work on the v2 api as well without breaking the rest of the project.

[2016-09-01 07:44] #100 closed

[2016-09-01 07:47] #101 closed

[2016-09-01 14:49] #118 closed

[2016-09-02 07:37] dony71 commented on #82
@jianmliu can you share your code using pysox to convert 44100 to 16000 sampling rate?

[2016-09-02 12:44] GadgetReactor opened #120 "Is TuneIn Radio Working?"
Hi I just loaded 1.1 and was trying to play a TuneIn Radio channel. Did they change the format? I am getting a NoneType error. Thank you.

[2016-09-02 20:46] sammachin commented on #120
Whats the name of the station, from what I've found their format varies so I've had to put workarounds in for many of them. you could try `play bbc radio one on tune in` as a test command

[2016-09-03 07:32] 123icebuggy commented on #120
When I do that, it says `BBC Radio on Tune in`, then does nothing...

[2016-09-03 07:43] 123icebuggy opened #121 "TuneIn radio error"
In Australia we have a popular radio station called `triple j`

They are on TuneIn and I would like to control it with my AlexaPi (RPi 3)

So I say

`play BBC Radio 1 on TuneIn`

To which I get the response

`BBC Radio 1 on TuneIn`

But then nothing more, no music, no commentary, just... silence.

Any idea why?

[2016-09-03 07:47] 123icebuggy commented on #121
It does this with other stations too btw

[2016-09-03 07:53] 123icebuggy opened #122 "You alexa device is currently offline"
I want to control Alexa from my phone, but it thinks it is offline...

Sorry to clog this issues page, I really do like what you've done.

[2016-09-03 11:00] 123icebuggy commented on #121
iHeartRadio does not work either, does the same thing

[2016-09-03 11:32] #121 closed

[2016-09-03 11:32] WillBishop opened #123 "Error with certain TuneIn stations."
I am trying to play Triple J on TuneIn

But I get an error of
`"Sorry, something went wrong"`

However BBC Radio 1 works just fine.

Any ideas?

[2016-09-03 11:42] 123icebuggy commented on #123
It seems I cannot get any Australian stations working

[2016-09-03 11:46] 123icebuggy commented on #123
I also get a lot of 'I'm not sure what went wrong'

[2016-09-03 11:49] 123icebuggy commented on #123
Some stations give me this error:

Exception in thread Thread-9:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 763, in run
    self.__target(*self.__args, **self.__kwargs)
  File "main.py", line 270, in play_audio
    m = i.media_new(file)
  File "build/bdist.linux-armv7l/egg

[2016-09-03 19:25] jaydev1997 opened #124 "ImportError: No module named alsaaudio"
File "main.py", line 7, in <module>
    import alsaaudio
ImportError: No module named alsaaudio

[2016-09-03 23:06] maso27 commented on #82
I've just added a branch to my repo that's using snowboy.  I tried running setup.sh with a fresh install, and it got everything set up successfully.  Feel free to try it if you like.

https://github.com/maso27/AlexaPi
(the 'snowboy' branch)

Notes:
1.) This is expecting to be logged in as "pi", not root.
2.) I have speakers plugged into the 3.5mm port, with a webcam as the microphone.  Other confi

[2016-09-03 23:20] 123icebuggy commented on #124
Please confirm you are using `python` and not python3`

[2016-09-04 03:40] 123icebuggy commented on #123
Now BBC won't work either, saying `Sorry, I can't reach TuneIn`

[2016-09-05 04:39] Sparklehart opened #126 "creds.py missing config.. refresh_token"
can you add in code to add this to the creds.py?
`
refresh_token = ''
`

[2016-09-05 06:41] 123icebuggy commented on #126
Why don't you manually add it?

[2016-09-06 07:10] GadgetReactor commented on #120
Thanks. Looks like the tunein playlist is a mess. I was able to get BBC Radio One to play. @123icebuggy I had to make one change though. - to stop the audioplaying check.

`
		while(GPIO.input(button)==0): # we keep recording while the button is pressed
`
`
			if audioplaying: p.stop() # moved this down
`

[2016-09-06 07:32] 123icebuggy commented on #120
What about Triple J?

Thanks anyway, I was able to get it to work, but your way seems faster

[2016-09-08 07:51] dony71 commented on #82
@maso27 I try your git but has this error below. Any idea?
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.default
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.default
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.front
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknow

[2016-09-08 11:45] illperipherals commented on #82
I was able to resolve a few of those errors over here:
https://github.com/Kitt-AI/snowboy/issues/9#issuecomment-241577381

[2016-09-08 16:44] maso27 commented on #82
@dony71
The part where it says "Home directory not accessible: Permission denied" is indicating something.
Did you install this as root, or pi?
Where is your "AlexaPi" directory located?

The way I have it set up right now, you never have to create a root user.  Login as _pi_ then make sure the _AlexaPi_ directory is in _/home/pi_.

Although, it occurs to me that I mentioned to try installing with

[2016-09-08 19:05] gabbinn opened #127 "When running python main.py"
I get connection ok but then

It takes some time but she says "hello" after 10 long seconds

MemCached: MemChache: inet:127.0.0.1:11211: connect: [Errno 111] Connection refused. Marking dead

[2016-09-09 06:19] jianmliu commented on #82
Hi all,
Just want to share my recent project with you, which is based on AlexaPi, Alexa and Snowboy, etc:
https://www.hackster.io/jianmliu/what-if-alexa-has-an-avatar-27a055

I have been thinking that it is a little dumb (even creepy) to just talk to a black speaker. I believe that the communication will be much more natural if Alexa has an avatar. Therefore, I have been working to bring Alexa ali

[2016-09-09 12:57] flooie opened #128 "Objc version"
I wasn't sure where to put this question, but I built an objective-c Mac version of this tool - and was wondering if anyone is interested in working on the project with me.  Right now it takes text and voice inputs but is a bit buggy with pause and resume.  Just wanted to gauge interest before I put it up.

<img width="434" alt="screen shot 2016-09-09 at 8 53 25 am" src="https://cloud.githubuserco

[2016-09-09 23:17] renekliment commented on #100
@flooie Would you care to elaborate? Is this still relevant? We're currently doing a rewrite of AlexaPi and it would be a shame to do something that's been done already. Thanks

[2016-09-10 03:23] dony71 commented on #82
@maso27 I manage to clean up some errors based on your recommendation
and illperipherals suggestion. However still stop for error below
Any other idea?
---------------------------------------------------------------
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
Checking Internet Connection...

[2016-09-10 05:28] dony71 commented on #82
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
-----------------------------------------------------------------
error above not running because "jack_control start" has error
File "/usr/bin/jack_control", line 399, in <module>
    main()
  File "/usr/bin/jack_control", line 158, in main
    b

[2016-09-10 06:08] maso27 commented on #82
The jack server doesn't need to be running for Alexa to work. I see the same warnings that you are when she starts successfully, up to that last pygame parachute error.

Unfortunately, I'm not sure what that means either.

[2016-09-10 12:55] flooie commented on #100
@renekliment

I built an objective-c version as an extension of the work here that takes both voice commands and text inputs (so I can give it commands coffee shops).  I wasn't sure if was appropriate to let y'all know about it here in the python project.  It works pretty well just need to add your own client_id - token - and secret.  Would love help improving it.

https://github.com/flooie/Mecho

[2016-09-11 03:12] Grumpyguard opened #129 "./setup.sh"
I copied and pasted the git clone statement and when I type ./setup.sh I get the following error message  -bash: ./setup.sh: No such file or directory.  What did I do wrong?  When I attempt to reissue the git clone statement I get the following message fatal: destination path 'AlexaPi' already exists and is not an empty directory.  Any help you can give me is greatly appreciated.

[2016-09-11 04:47] maso27 commented on #129
You need to enter the directory that contains _setup.sh_ before trying to execute it.
`cd AlexaPi <Enter>` before the `./setup.sh` command.

You are logged in as root, starting from the /root directory, right?

[2016-09-11 06:28] Grumpyguard commented on #129
Thank you.  I did not know I had to be logged in as root.

On Sat, Sep 10, 2016 at 9:47 PM, Mason Stone <notifications@github.com>
wrote:

[2016-09-12 15:31] maso27 commented on #128
Sounds interesting--how are you doing the text?  TTS, then sending a wav file?

Sadly, I'm not available to work on it--too many time obligations of late.  But here's hoping you have luck with it!

[2016-09-12 15:57] flooie commented on #128
Spot on @maso27 - Cocoa frameworks allow for silent text to speech file - which gets covered to wav and sent off.  I posted the framework minus my amazon auth keys. if you wanted it for your own use

[2016-09-12 18:13] renekliment commented on #128
Unfortunately, I don't have a Mac to even test this. Best of luck with it though.
The new AlexaPi should however support OS X when it's ready. Let's see where the future takes us :-)

[2016-09-12 19:04] flooie commented on #128
@renekliment the current alexapi already works on my Mac - I rewrote it in objc because I wanted an interface.

[2016-09-12 20:25] tangowhisky37 commented on #122
Sam - I have a similar issue. My Pi is definitely logged in and connected, I am able to press the button and talk to Alexa. However, the web interface (alexa.amazon.com) says that i am offline.

Am sure there's something different in the way we've setup the pi and use the python code you've developed. When using the reference java application the web interface (alexa.amazon.com) does show the devi

[2016-09-12 20:29] maso27 commented on #122
AlexaPi always reports as being "offline."  It's not an issue.  It's a function of the way the system works, only sending audio files to Amazon when there's something worth sending.

Other systems maintain an always-on server that is connected to Amazon.  They register as being "online."

[2016-09-13 04:29] Grumpyguard commented on #34
First off I am a noob.  I have been working at this for a while and the pi won't connect to Alexa Voice Service.  I have completed the setup including getting my Amazon refresh token.  When I boot up the Pi it does not connect to AVS.  When I checked the log it said:
"starting Alexa...
/etc/init.d/AlexaPi: line 19: /root/AlexaPi/monitorAlexa.sh: No such file or directory
python: can't open file '/

[2016-09-13 08:49] link2patel opened #130 "ImportError: No module named pocketsphinx"
i am getting below error..how to solve it?
pi@raspberrypi:~/AlexaPi $ sudo python main.py
Traceback (most recent call last):
  File "main.py", line 27, in <module>
    from pocketsphinx.pocketsphinx import *
ImportError: No module named pocketsphinx

i tried pip install and i got this

 pi@raspberrypi:~/AlexaPi $ pip install -r requirements.txt
Requirement already satisfied (use --upgrade to upgra

[2016-09-13 14:57] maso27 commented on #130
Looks like you're trying to run as _pi_ instead of _root_.
And based on the fact that it wants pocketsphinx, you're not running the one version (maso27/snowboy) that is designed to be run as _pi_.

Which version are you using?  Most likely, modules are looking for items in _/root_, while your whole install is in _/home/pi_.

Do you have a _pocketsphinx_ directory, either in _/root_ or _/home/pi_?

[2016-09-13 15:25] maso27 commented on #34
You have installed as _pi_, in the _/home/pi_ directory.  This install is designed to be run as _root_, in the _/root_ directory.

Does Alexa work when you type `python /home/pi/AlexaPi/main.py &`?
If so, you can edit _/etc/init.d/AlexaPi_ and change everything that says _/root_ to _/home/pi_.  Then it should start at boot.

[2016-09-14 21:38] fireshipmate commented on #129
Hello all,
my question is why I have to install the program in the root directory?
Would it not be possible to install somewhere else in the file structure using the "sudo" option?
Is it intended to start the program any time manually or would it start automatically when I power on the RaPi.?

[2016-09-14 22:11] renekliment commented on #129
Right now, the `/root` directory is hard-coded in the setup script and in the init scripts. You can use another path, if you change that.
`sudo` runs commands as the user root, it has nothing to do with paths.
This behavior is gonna change in a new version. You can either change that manually, or just wait.

You can do both. If you install it using the setup script, it's gonna start automatically

[2016-09-15 20:35] interbiznw opened #131 "Issues playing tunein stations"
Not sure why it won't play most stations but heres some output:

https://gist.github.com/interbiznw/374ad9366e5fb139de7db212c3f9a7f8

Also just got this trying to play " CBC Radio One Vancouver" On tune in:

https://gist.github.com/interbiznw/28c62a887f1cdd7e7707aeb0822f3b86

[2016-09-18 06:03] eurokid21 commented on #36
@dony71 I was having the same issue and realized that I was using **https** instead of **http** on my Amazon security profiled for allowed origins/allowed return URLS.

[2016-09-18 14:53] renekliment commented on #128
@flooie Have you tried doing the GUI in python for the current project? What's the advantage of doing it in pure ObjectiveC? (speed?)
Also, I'm curious what is your use case that you want a GUI. Would you share?

[2016-09-18 16:42] illperipherals commented on #129
Pulling a clean build still requires "root" to be edited to "opt" in two places. Both show up in the log. Verified this at an Alexa hackathon yesterday. Should this be rolled into an active issue, or a new PR?

[2016-09-18 16:44] flooie commented on #128
@renekliment I did a number of things - and I released the Mac Echo (Mecho) on my github account.  I did build a version that ran the python version with objc before I decided to build it purely in objc.  It worked fine enough.  I did not build a python gui for the Mac version just the hybrid.

[2016-09-19 14:49] Rian9771 commented on #34
@maso27 , i am using your snowboy branch and i installed it in /home/pi as root following your directions. The install went well, after reboot, Alexa was not starting on it's own. I checked the /etc/init.d/AlexaPi and noticed the path was /root/... so i changed that to /home/pi/AlexaPi/main.py. I still cannot run main.py and it still does not start on it's own after reboot. I don't see any errors,

[2016-09-19 16:57] maso27 commented on #34
@Rian9771
Did you have a different version installed previously?  That init.d script shouldn't have been loaded with this install.
Regardless, the way to start the _snowboy_ version is different from the other versions.  It needs to be run with `python /home/pi/AlexaPi/start.py /home/pi/AlexaPi/Alexa.pmdl &`.  You can either edit _/etc/init.d/AlexaPi_ to match, or else move the _initd_alexa.sh_ fi

[2016-09-20 00:14] Rian9771 commented on #34
Running python /home/pi/AlexaPi/start.py /home/pi/AlexaPi/Alexa.pmdl & gives me the following. It does say listening but i don't hear anything. Let me try a clean install and see what happens.

python /home/pi/AlexaPi/start.py /home/pi/AlexaPi/Alexa.pmdl &
[1] 1007
pi@raspbian:~ $ ALSA lib confmisc.c:1286:(snd_func_refer) Unable to find definition 'cards.bcm2835.pcm.front.0:CARD=0'
ALSA lib conf.c

[2016-09-20 00:16] Rian9771 commented on #34
It seems more like a ALSA error? The .asoundrc config was the only way i could get the aplay and arecord to work. Would you be able to suggest me on what i need to put in main.py for the capture? Getting the mic and speakers to work in ALSA has been a pain so far.

[2016-09-21 02:56] maso27 commented on #34
ALSA takes a back seat in the snowboy stuff. It uses _pulseaudio_ instead. I can't give much as far as suggestions--seems like it can be a struggle if things don't just work out.
My setup is with speakers attached to the 3.5mm jack and a usb webcam attached for the mic. Works great after the install has finished.

A lot of folks worked on it in this thread: https://github.com/sammachin/AlexaPi/iss

[2016-09-21 02:58] flooie commented on #34
I can only second @maso27 - I used a bluetooth speaker system in my branch with a pi3, but it took me days to figure out the configuration that worked for me.

[2016-09-21 04:37] Rian9771 commented on #34
Thanks @maso27 @flooie  for your input. I wiped the SD card, dumped a new image of Raspian 8.0, install Maso's Snowboy branch.

The sudo .setup.sh ended with following before it asked for the Device ID Type.
cp: cannot stat ‘init.d_alexa.sh’: No such file or directory
update-rc.d: error: initscript does not exist: /etc/init.d/AlexaPi

Now, after i do  python /home/pi/AlexaPi/start.py /home/pi/Alex

[2016-09-21 14:55] maso27 commented on #34
So I found a typo in setup.sh.  Explains the trouble I was having making it copy initd_alexa.sh.
It was "init.d_alexa.sh" when it should've been "initd_alexa.sh"

I've fixed it.

So that should solve the "Run on startup" issue.

As for your errors--it looks like something goes south right at this line:
`ALSA lib pulse.c:243:(pulse_connect) PulseAudio: Unable to connect: Connection refused`
I did a

[2016-09-23 18:08] factulas opened #132 "Snowboy - Microphone after VAD"
@maso27

`
Seems its not recognizing the microphone. Maybe because snowboy is not releasing it after the trigger. HELP
Edit: Formatting

[2016-09-25 09:44] sammachin commented on #126
@Sparklehart the refresh token is generated and added to the creds file by running the auth_web.py script and going throught the auth process with amazon.

[2016-09-25 09:45] sammachin commented on #122
Yeah this is mostly due to us still using the V1 Alexa API, once we get onto the V20160217 api and have a persistent HTTP/2 connection things like pushing from the app will become possible, might not work right away though!

[2016-09-25 09:59] 123icebuggy commented on #122
Would an ETA on that be available? Also could you look at this https://github.com/sammachin/AlexaPi/issues/123 issue

[2016-09-25 10:06] sammachin commented on #123
The API switch is something we need to do but I don't have an ETA at the moment, we're currently in the processes of moving the project and codebase onto a more collaborative effort as a standalone project which should make it easier for more people to contribute and hopefully get more stuff working faster.

The TuneIn stuff is improved in the new project but I can't get "play triple j on tune in

[2016-09-25 10:08] sammachin commented on #131
TuneIn seems to be very broken right now I'm even getting errors on my Amazon hardware (TAP and Echo) I think they are moving stuff around ready for the UK/DE launch of the Echo this week.

I'd sit tight and I'll report back when its working on the Amazon HW then we can look into AlexaPi issues.

[2016-09-25 10:09] 123icebuggy commented on #123
Ok thanks, I really want it because at the moment I am using a voice activated script to listen to that radio, problem is, when I use AlexaPi, it throws alsa errors saying the device is already in use, any way around this?

[2016-09-25 17:13] Sparklehart commented on #126
Oh. That makes sense. I switched the setup files for the ones in beta and they worked perfect. Thanks!

[2016-09-26 00:08] Rian9771 commented on #34
Okay, thanks @maso27 , i will do a fresh install and update here. Hopefully, this will work! Thanks

[2016-09-26 06:28] Rian9771 commented on #34
Fresh install @maso27  , snowboy branch. Is there anything else i could try?

Starting Alexa...
ALSA lib confmisc.c:1286:(snd_func_refer) Unable to find definition 'cards.bcm2835.pcm.front.0:CARD=0'
ALSA lib conf.c:4259:(_snd_config_evaluate) function snd_func_refer returned error: No such file or directory
ALSA lib conf.c:4738:(snd_config_expand) Evaluate error: No such file or directory
ALSA lib

[2016-09-26 14:55] maso27 commented on #34
Unfortunately, it seems to be a very hardware-specific task to get everything working smoothly.  If you look back into that thread I referenced, it looks like @olsonk had similar errors and eventually worked through them.
Some success was had with the `pulseaudio -D` command, but I'm afraid I'm not likely to be too helpful beyond what that thread revealed.

[2016-09-26 17:39] sikkz opened #133 "After Alexa starts, alsaaudio.ALSAAudioError: Input/output error"
Hello,
I receive the "Hello" from Alexa and the green LED flashes 3 times.
But after pushing (and holding) the button, I only receive this output:

Checking Internet Connection
Connection OK
Traceback (most recent call last):
  File "main.py", line 156, in <module>
    start()
  File "main.py", line 130, in start
    l, data = inp.read()
alsaaudio.ALSAAudioError: Input/output error

I googled the

[2016-09-27 10:36] TheFonix opened #134 "Issue when getting to the login screen for AlexaPi"
I'm having the same issue, but i already have the device name set to my_device, as soon as i hit the ok button to get the key from the AlexaPi it shows up with

We're sorry!
An error occurred when we tried to process your request

Any ideas? Seems nobody else is having this now since the device name fixed it, I've tried moving the directory I launch it from, I've tried flashing and putting a new i

[2016-09-27 18:48] balajitk7 opened #135 "got problem with alsaaudio... please help me dude... stuck here"
for https://github.com/maso27/AlexaPi/tree/version1.2
please help me guys,strucked here since 4 days,your time will be precious to me

"""""Traceback (most recent call last):
  File "main.py", line 592, in <module>
    start()
  File "main.py", line 515, in start
    inp = alsaaudio.PCM(alsaaudio.PCM_CAPTURE, alsaaudio.PCM_NORMAL, device)
alsaaudio.ALSAAudioError: Device or resource busy [plughw:1

[2016-09-27 19:39] factulas commented on #135
In main.py change plughw:1 to plughw:CARD=Device,DEV=0

[2016-09-28 10:03] balajitk7 commented on #135
thanks for responding , still problem remains as it is...
.
.
.
Traceback (most recent call last):
File "main.py", line 592, in
start()
File "main.py", line 515, in start
inp = alsaaudio.PCM(alsaaudio.PCM_CAPTURE, alsaaudio.PCM_NORMAL, device)
alsaaudio.ALSAAudioError: Device or resource busy [plughw:CARD=Device,DEV=0]

[2016-09-28 13:31] balajitk7 commented on #135
thank you so much it works...
thanks a lot
thank you so much

[2016-10-03 11:58] Tiqni commented on #134
Are you doing this directly in the Raspberry Pi browser or by SSH?

[2016-10-03 12:02] Tiqni commented on #133
You are not calling correctly the microphone, check the solution here it may work for you:
https://github.com/sammachin/AlexaPi/issues/135

[2016-10-03 14:37] TheFonix commented on #134
Sorry, that's through the web browser, on both my computer and then the browser inside of the raspberry pi, I doubled check the allowed url's too and they were correct, I have both local host in there and the IP address of the pi so I could access it remotely and I get past all of the login part but as soon as I click ok for it to generate the secret key I get the error message (We're sorry etc...

[2016-10-03 17:35] Tiqni commented on #134
Try to create a new device, and in the Web Settings put again:

**Allowed Origins**
http://localhost:5000
http://raspberrypi:5000

**Allowed Return URLs**
http://localhost:5000/code
http://raspberrypi:5000/code

These addresses are working for me.

[2016-10-03 18:39] TheFonix commented on #134
Tried that, no luck

[2016-10-03 19:01] maso27 commented on #134
Here's what's required to generate the refresh token:

1.) _creds.py_ must have correct values for
- ProductID
- Security_Profile_Description
- Security_Profile_ID
- Client_ID
- Client_Secret

...available under _General_ at developer.amazon.com

2.) _Web Settings_ at developer.amazon.com must be set correctly
- Allowed Origins: http://xxx.xxx.xxx.xxx:5000 where the x's are your IP address

[2016-10-05 01:55] WillBishop opened #136 "alsaaudio.ALSAAudioError: Device or resource busy"
[code]

I know why this is happening, I am using my mic with another script.

Is there a way to use it with both?

[2016-10-05 18:47] TheFonix commented on #134
Ok, thanks! I'll try it out soon

[2016-10-05 21:30] interbiznw commented on #20
Why do i get "Amazon music is not supported on this device"...? Amazon music is approved on my account..?

[2016-10-06 08:34] WillBishop opened #137 "IOError: [Errno Device unavailable] -9985"
Using Flooie's voice-command fork, I get this error

Expression 'ret' failed in 'src/hostapi/alsa/pa_linux_alsa.c', line: 1736
Expression 'AlsaOpen( &alsaApi->baseHostApiRep, params, streamDir, &self->pcm )' failed in 'src/hostapi/alsa/pa_linux_alsa.c', line: 1904
Expression 'PaAlsaStreamComponent_Initialize( &self->capture, alsaApi, inParams, StreamDirection_In, NULL != callback )' failed in 'src

[2016-10-06 15:55] interbiznw opened #138 "AVS Adds Hands-Free Capabilities with API Update"
Great news!

![image](https://cloud.githubusercontent.com/assets/16450422/19159841/a66552ae-8ba2-11e6-8e2f-6ced76d807bb.png)

[2016-10-06 18:30] sikkz commented on #133
First, thank you for your reply!
I ran the arecord -L command. Because of the results, I changed:
"plughw:1 to plughw:Camera=Device,DEV=0"
But still I only receive the "hello" and three green flashes.
Anymore ideas?

## Heres the arecord -L output:

[code]

## And heres the main.py's content:

[code]

[2016-10-07 01:24] 123icebuggy commented on #138
Well, it is good news, but not current for AlexaPi.

If I remember correctly, there are two API versions, 1 and 2. Sammachin is working to bring API 2, because it would GREATLY improve the AlexaPi.

So let's see how it goes!

[2016-10-07 05:53] interbiznw commented on #138
with what amazon released It looks like voice activation is done through a 3rd party app (https://snowboy.kitt.ai/)

[2016-10-09 03:38] matthewtholt commented on #124
I'm getting the same error. definitely using python. @jaydev1997  did you get this sorted?

[2016-10-09 04:34] souto93 commented on #135
Hi , I still have the same problem even after chaging that.
Don't know what more to do , already spent so many hours trying to fix this....

[2016-10-09 04:36] souto93 opened #142 "alsaaudio.ALSAAudioError: Device or resource busy [plughw:CARD=Device,DEV=0]"
Hello everyone.
I've been stuck with this for days...
I'd appreciate any help , this is very frustating.

pi@raspberrypi:~/Downloads/AlexaPi $ sudo python main.py
Checking Internet Connection...
Connection OK
Traceback (most recent call last):
  File "main.py", line 497, in <module>
    start()
  File "main.py", line 397, in start
    inp = alsaaudio.PCM(alsaaudio.PCM_CAPTURE, alsaaudio.PCM_NORMAL

[2016-10-09 04:41] souto93 commented on #142
I'm connecting via USB a headhphones with microphone, in the same USB.
The model is : Trust GTX 340

[2016-10-09 06:34] jaydev1997 commented on #124
@MRedRaider Yes i tried configured Audio Channels in Alsa and it sorted out... first confirm that you have Alsa with ```alsamixer```

[2016-10-09 06:35] #124 closed

[2016-10-09 23:36] coach0742 commented on #124
So I'm having this same issue and I can't figure out what is wrong. I have already modified main.py with the device name outputted by arecord -L, I have tested the mic with arecord and am getting input just fine. But every time I try to start up main.py, I get this error.

[2016-10-10 10:13] jaydev1997 commented on #124
which python version do you have? @coach0742

[2016-10-10 17:15] balajitk7 commented on #135
Type arecord - L
Then go for "plughw" line
Copy entire first line, mine is "plughw:CARD=Device,DEV=0".  Copy ur line in main. Py settings

[2016-10-10 23:33] aravindnatch commented on #82
If it's not so much of a hassle is there someone willing to post an image that is 100% working. I think this will truly benefit a lot of us. Thanks in advance.

[2016-10-11 18:58] Ierlandfan commented on #142
I-ve setup the audio (Bluetooth JBL GO) through this
https://bbs.nextthing.co/t/guide-to-connecting-to-a-bluetooth-speaker/4684/2
Works for the Raspberry Pi (2) at least. For now I have a PS3 Eye as microphone and a Bluetooth speaker as output device. Works better than HDMI.

[2016-10-12 00:46] MRedRaider commented on #124
I'm going to admit my mistake here, I'm working on a CHIP, followed that repo and when I googled this error got here and didn't think twice since I also have this running on a RPI sitting beside it. Sorry!

[2016-10-12 07:45] jaydev1997 commented on #124
@MRedRaider Oh..thats ok mate...

[2016-10-12 18:04] jtotham commented on #142
I had this problem until I turned off the graphical desktop, with my Pi configured to boot just to the console (sudo raspi-config). Might not be practical for all but if you're building a headless voice activated system then having the GUI loaded is just a waste of resources.

[2016-10-13 07:14] yangsuper commented on #105
@stu0219 Hi, can you please share the solution you tried ? I hit this issue as well...

[2016-10-17 00:06] scargill opened #144 "Nothing"
I have an up to date pi1 with mpg123 etc.... and latgest node red etc..

I ran the script. told me to reboot.  I ran main.py -  it says "HELLO" and terminal says connection OK.

I press the button - the red light comes on - then flashes 3 times - no sound comes out of the system.

Am I missing a stage? Not seeing any error messages on the (root) terminal...

[2016-10-17 21:40] youneverknow1 commented on #16
I reinstalled the AlexaPi cloning the master branch, but I am unable to get rid of udev error..
`Setting up udev (215-17+deb8u5) ...
addgroup: The group `input' already exists as a system group. Exiting.
update-initramfs: deferring update (trigger activated)
insserv: warning: script 'S99alexa' missing LSB tags and overrides
insserv: warning: script 'alexa' missing LSB tags and overrides
insserv: T

[2016-10-17 22:38] maso27 commented on #16
Try df -h and see if you have any space left on your SD card.

[2016-10-17 22:38] youneverknow1 commented on #16
Yes there's plenty. ~20gb left.

[2016-10-18 08:46] lion6230i commented on #113
Hello,

I have the same error.

400 Bad Request
The redirect URI you provided has not been whitelisted for your application. Please add your redirect URI in the 'Allowed Return URLs' section under 'Web Settings' for your Security Profile on Amazon Developer Portal.
Request Details
scope=alexa%3Aall
redirect_uri=http%3A%2F%2F0.0.0.0%3A3000%2Fcode
response_type=code
client_id=amzn1.application-oa2-c

[2016-10-18 14:42] maso27 commented on #113
AlexaPi doesn't use port 3000.  It uses either 5000 or 5050, depending on which version you're using.

Also, the only place "localhost" will work is if you're using the browser from within the Raspberry Pi.  If you're doing that it'll be fine.  But if not, better to put the actual IP address of the pi.

[2016-10-18 14:47] maso27 commented on #16
So where are these errors cropping up?  During install, while _setup.sh_ runs?  After typing _python main.py_?

And you say that you can't install more packages.  You mean _apt-get_ has stopped working?

All these errors seem unique.  I'm surprised that minidlna is coming up at all.  Are you running other things on this Pi as well?  If not, it might be worth re-imaging the Pi and running setup.sh

[2016-10-19 01:46] lion6230i commented on #113
@maso27 I change setting to 5000 (version 1.1) and use localhost as IP to browse it.
It's display another error.

The server encountered an unexpected condition which prevented it from fulfilling the request.
Traceback (most recent call last):
  File "/usr/lib/python2.6/site-packages/cherrypy/_cprequest.py", line 670, in respond
    response.body = self.handler()
  File "/usr/lib/python2.6/site-pa

[2016-10-19 01:59] illperipherals commented on #144
Can you run it with the "-d" switch and also check your log file?
When you run aplay/arecord -L, does everything look in shape?
Have you verified with another program that your audio is working (sox is a good tool)?

[2016-10-19 02:03] illperipherals opened #145 "Module system."

[2016-10-19 02:04] #145 closed

[2016-10-19 11:06] youneverknow1 commented on #16
Yes apt-get has stopped working. I am also running few other programs on my Pi - CUPS (for cloud printing), pi-hole etc. I uninstalled minidlna but the error is still there. Is there any way I could cleanup AlexaPi?

[2016-10-19 12:08] #120 closed

[2016-10-19 14:56] maso27 commented on #16
How did you uninstall minidlna if _apt-get_ isn't working?
Have you also tried disabling it: `sudo systemctl disable minidlna`?

"Cleaning up" AlexaPi could be quite complicated, because other things that you already have running might depend on things that _setup.sh_ installed for AlexaPi.  But you can try debugging some stuff.

You used the master branch of sammachin/AlexaPi, right?  Then you ca

[2016-10-20 14:26] fboulegue opened #146 "Success installation but run into error"
Hi i could install all the stuff via SSH, then it did ask me to authorize, that's what i did. So i did close the script after with "ctrl + c" script ended but nothing happened.
So i did try to run the

**python main.py**

[code]

So i also did try to run

*\* sudo ./monitorAlexa.sh**
but the log show

[code]

let me add i use @maso27 fork

[2016-10-20 14:34] fboulegue commented on #146
let me add i use @maso27 fork

[2016-10-20 14:53] renekliment commented on #146
If you're not using Mason's `snowboy` branch, there is no reason for using his version1.1/1.2 branch. Use the new project instead - https://github.com/alexa-pi/AlexaPi It's based on that a has a lot of enhancements (with more coming).

[2016-10-22 00:04] youneverknow1 commented on #16
No luck!
Tried systemctl command here are the error messages:

`Synchronizing state for minidlna.service with sysvinit using update-rc.d...
Executing /usr/sbin/update-rc.d minidlna defaults
insserv: warning: script 'S99alexa' missing LSB tags and overrides
insserv: warning: script 'alexa' missing LSB tags and overrides
insserv: There is a loop at service alexa if started
insserv: Starting alexa de

[2016-10-26 16:08] renekliment commented on #64
Seems like fixed -> closing. Reopen if needed.

[2016-10-26 16:08] #64 closed

[2016-10-26 16:12] renekliment commented on #122
We're very probably gonna do this on the [new repo](https://github.com/alexa-pi/AlexaPi) only. You can check it out in the meantime.

[2016-10-26 16:12] #122 closed

[2016-10-26 16:14] renekliment commented on #126
Seems like fixed -> closing. Reopen if needed.

[2016-10-26 16:14] #126 closed

[2016-10-26 18:15] renekliment commented on #138
As @123icebuggy pointed out it's good news, but currently doesn't concern AlexaPi at all.

If you want voice activation, checkout the new upstream for this project: https://github.com/alexa-pi/AlexaPi
Until we add snowboy/pyaudio support there, you can check out Mason's repo: https://github.com/maso27/AlexaPi/tree/snowboy

[2016-10-26 18:15] #138 closed

[2016-10-26 18:18] renekliment commented on #136
If you have multiple sound cards, you can set the input device in main.py to another.
Another possibility would be to use PulseAudio, but I'm not sure it's tested.

[2016-10-26 18:23] renekliment commented on #134
Does it work for you yet?

[2016-10-26 18:26] renekliment commented on #130
Seems like you're running Mason's `version1.2` branch. Use the new upstream instead: https://github.com/alexa-pi/AlexaPi It is based on that one, but has enhancements. Follow the installation guide.

[2016-10-26 18:28] renekliment commented on #129
You can switch over to the new upstream (https://github.com/alexa-pi/AlexaPi) and you can install AlexaPi outside of `/root` (the new default is `/opt`) and you can even run it under a non-root user for security.

Please let us know if you still have issues or we can close this. Thanks!

[2016-10-26 18:35] renekliment commented on #119
Do you still have issues with this?

[2016-10-26 18:36] renekliment commented on #116
Seems like fixed -> closing. Reopen if needed.

[2016-10-26 18:36] #116 closed

[2016-10-26 18:38] renekliment commented on #115
Do you still have issues with this?

[2016-10-26 18:42] renekliment commented on #113
If you want to run it on your PC, try the new upstream: https://github.com/alexa-pi/AlexaPi This repo doesn't have direct support for it. Get back to us then so we can see if we can close this :) Thanks!

[2016-10-26 18:43] renekliment commented on #112
To do this, we'd need to switch over to the new API version, which we'll do in the new upstream: https://github.com/alexa-pi/AlexaPi ... some people are already looking at it.
Not relevant for this repo -> closing.

[2016-10-26 18:43] #112 closed

[2016-10-26 18:44] renekliment commented on #104
This is weird. Are you using latest code from the repo?

[2016-10-26 18:46] renekliment commented on #105
@yangsuper You can give the new upstream a try (https://github.com/alexa-pi/AlexaPi). If there's some permissions error here, it should be resolved over there.

[2016-10-26 18:48] renekliment commented on #95
You can give the new upstream (https://github.com/alexa-pi/AlexaPi) a try.

[2016-10-26 18:50] renekliment commented on #93
This sounds great. Would you care to implement is as a new _device_plaftorm_ over at the new upstream (https://github.com/alexa-pi/AlexaPi)?

[2016-10-26 18:51] renekliment commented on #92
Do you still have issues with this?

[2016-10-26 18:52] renekliment commented on #76
Seems solved -> closing. Reopen if needed.

[2016-10-26 18:52] #76 closed

[2016-10-26 19:04] renekliment commented on #82
There are now various options for voice triggering:

1. The new upstream (https://github.com/alexa-pi/AlexaPi) that currently pocketsphinx.
2. Until we add support for snowboy ^, maso27 and flooie have repos with snowboy support.

Closing as this is not relevant for this repo anymore.

[2016-10-26 19:04] #82 closed

[2016-10-26 19:05] shawpbx commented on #115
No, Mason fixed it and should work now. My install is working fine now.

David

--
Thanks, David

"Laws that forbid the carrying of arms...disarm only those who are neither
inclined nor determined to commit crimes. Such laws make things worse for
the assaulted and better for the assailants; they serve rather to encourage
than prevent homicides, for an unarmed man may be attacked with greater
confi

[2016-10-26 19:07] renekliment commented on #89
Seems solved -> closing. Reopen if needed.

[2016-10-26 19:07] #89 closed

[2016-10-26 19:12] renekliment commented on #115
Great! Closing.

[2016-10-26 19:12] #115 closed

[2016-10-26 19:14] renekliment commented on #69
Hey, do you still have issues with this?

[2016-10-26 19:17] renekliment commented on #90
Since this is 5 months old, I'm closing this. Feel free to reopen or open a PR with a link in README if you have anything active on this.

[2016-10-26 19:17] #90 closed

[2016-10-26 19:18] renekliment commented on #97
Seems solved -> closing. Reopen if needed.

[2016-10-26 19:18] #97 closed

[2016-10-26 19:20] renekliment commented on #108
Can you see if it works in the new upstream (https://github.com/alexa-pi/AlexaPi)? If we're fixing it, it would most probably be over there. Thanks!

[2016-10-26 19:22] renekliment commented on #90
There is actually #128 open with info, so no need to mourn over this empty issue :-)

[2016-10-26 19:25] renekliment commented on #133
Can you try the new upstream (https://github.com/alexa-pi/AlexaPi)? The installation over there is more robust and it might be therefore easier to get it to work. Just follow the installation guide. Thanks!

[2016-10-26 21:34] illperipherals commented on #134
I have a little bash script that comes in handy. I thought I had posted it up here, but I can dig it up.

[2016-10-26 21:41] illperipherals commented on #104
This has come up before: https://github.com/sammachin/AlexaPi/issues/13

[2016-10-27 01:32] lion6230i commented on #113
Hi renekliment,

I try to debug with this error message, so I print resp value

ke Gecko) Chrome/45.0.2454.85 Safari/537.36"
127.0.0.1 - - [26/Oct/2016:10:58:47] "GET / HTTP/1.1" 303 758 "" "Mozilla/5.0 (X11; Linux i686) AppleWebKit/537.36 (KHTML, li
ke Gecko) Chrome/45.0.2454.85 Safari/537.36"
{u'access_token': u'Atza|IwEBIGmCbiWK9BPUDLy4qDOiz9hl0T_cldTl-C2GBruq7ExnCkEkZ2XQbcK5NIeJu63XTu3aYyOcQGZ

[2016-10-27 04:53] renekliment commented on #113
Seems like the `refresh_token` is empty.
If you've got some time, just to be totally sure / confirm, please try the new upstream, according to the Installation Guide exactly - maybe even create new device at Amazon. There have been improvements in various places and one of them might have fixed it. Thanks!

[2016-10-27 05:21] lion6230i commented on #113
Hi renekliment,

Use https://github.com/alexa-pi/AlexaPi project have another problem.

/usr/lib/python2.6/site-packages/cryptography/__init__.py:26: DeprecationWarning: Python 2.6 is no longer supported by the Python core team, please upgrade your Python. A future version of cryptography will drop support for Python 2.6
  DeprecationWarning
Traceback (most recent call last):
  File "src/auth_web.

[2016-10-27 05:32] renekliment commented on #113
It's very probably not caused by the python version. This is very peculiar - what OS (+ version) and device are you using?

[2016-10-27 05:35] lion6230i commented on #113
@renekliment
CentOS release 6.7 (Final)
PC(Intel(R) Core(TM)2 Quad CPU    Q8200  @ 2.33GHz)

[2016-10-27 06:42] illperipherals commented on #113
Yeah, just bring that up to date. I believe this is the issue:

https://docs.python.org/dev/library/string.html#format-string-syntax

[2016-10-27 06:58] renekliment commented on #113
So I've just compiled python 2.6 to confirm and it indeed seems to be the issue.
Alternatively, you can change that line to
`print "Ready goto http://{0}:5050 or http://localhost:5050  to begin the auth process".format(ip)`, which works for me.
However, we can't guarantee that other things will work as well. I guess we could change this thing, so it works, but in the long run I'm not sure we can (

[2016-10-27 07:32] lion6230i commented on #113
@renekliment
It's work, but after login  LWA (Login With Amazon) . Web browser will show the information in below

The server encountered an unexpected condition which prevented it from fulfilling the request.

@illperipherals
Right, I have try to get refresh_token without format method and it's work.

[2016-10-27 07:43] renekliment commented on #113
Yeah, that's what I was walking about. Unfortunately, I don't think we want to spend any more time on this, sorry. Please upgrade to python 2.7.

P.S.: If I were you, I'd upgrade to CentOS 7.

[2016-10-27 10:44] lion6230i commented on #113
@renekliment Which python version does you used to develop? In CentOS 6.7 I can find version 3.4 .

[2016-10-27 10:50] renekliment commented on #113
Python 3.x isn't yet supported. We'll hopefully add support soon. Stick to 2.7.x. for the time being.

[2016-11-07 18:36] mohaggag commented on #69
i have the same issue and i can see that no one care

[2016-11-09 01:19] schmeckles22 opened #147 "TuneIn Radio Playback"
Hello,

I ask to play a TuneIn radio and I get the reply -

Recording Finished.
[7113ec40] ts demux error: cannot peek
Ready to Record.
[6bd02eb0] ts demux error: cannot peek
[70bbd260] ts demux error: cannot peek

and then it will keep printing that to the terminal, Other features work and I can hear Alexa just fine.

My USB microphone has a built in sound jack that could cause it? How do I disab

[2016-11-11 19:14] Simon-Chase opened #148 "Outputting Text"
How could I make Alexa output text to be displayed in an application?

[2016-11-11 19:16] renekliment commented on #148
What exactly do you mean? You want the transcription of your voice?

[2016-11-11 19:28] Simon-Chase commented on #148
I'd like it to output my question and it's answer.

[2016-11-11 19:29] renekliment commented on #148
AFAIK it's not possible (someone please correct me if I'm wrong).

[2016-11-16 01:15] Galtwise commented on #137
Did you ever get anywhere with that? I'm in the same boat

[2016-11-23 03:31] SilentDev1 opened #149 "Spotify/Connect Bluetooth"
Anyone able to connect to spotify or any other music gateway? Or connecting bluetooth?

[2016-11-23 10:49] steronydh opened #150 "Global name 'refresh_token' is not defined"
This error comes up in file /root/AlexaPi/main.py line 42 in gettoken when the wi-fi connection status changes from Failed to OK.

Any suggestions, please?

[2016-11-26 21:08] mgeilich opened #151 "Wrong location?"
Alexa thinks I am in Seattle with regards to weather, time, etc.  My Pi has the correct time.  How do I get Alexa configured for my current location?

[2016-11-26 21:11] flooie commented on #151
are you sure you aren't in seattle?

[2016-11-26 23:34] maso27 commented on #151
:)

You need to run the Alexa app on either IOS or Android.  You can change your location settings there.  Seattle is the default.

[2016-11-27 16:42] renekliment commented on #151
Or you can change it in the web app: https://alexa.amazon.com

[2016-11-27 16:42] #151 closed

[2016-11-27 21:57] braddo99 opened #152 "setup fails to install cherrypi / requests / memcache"
Hello, when running the setup.sh using sudo su (root) the installer mostly completes without error except the final message that cherrypi is not found.

Then when I reboot and navigate to myIP:5000 I just get "site can't be reached"

Looking at /var/log.alexa.log there is a message that module requests not found.

I did sudo apt-get install python-requests and reboot again.

Now /var/log says no m

[2016-11-27 23:27] braddo99 commented on #152
After that last issue, checked the log and I can see that the auth_web.py module, when run, throws an error Traceback (most recent call last):
  File "./auth_web.py", line 5, in <module>
    from cherrypy.process import servers

[2016-12-04 00:37] Khemo2 commented on #152
I have the same issue. Still have not gotten it to work.

[2016-12-04 01:17] braddo99 commented on #152
Eventually I figured out that there's no such library as "easy_install" and pip also was not installing. I just went through and installed all of the requirements manually then the i stall co.pleted successfully. Once do e you can go to a web browser and browse to the referenced URL and I guess that causes the system to connect to Amazon.  Working now for me. Didn't get it going in time to get the

[2016-12-04 04:36] Khemo2 commented on #152
Thanks. I got it going. I have not done programming for nearly 40 years and I am a little rusty. Trying to do a little now that I have retired and have a little time.

----- Original Message -----

From: "braddo99" <notifications@github.com>
To: "sammachin/AlexaPi" <AlexaPi@noreply.github.com>
Cc: "Khemo2" <dpeck14056@comcast.net>, "Comment" <comment@noreply.github.com>
Sent: Saturday, December 3,

[2016-12-08 16:39] GamefreakSenpai opened #153 "Alexa stops working after interrupting"
Whenever i interrupt Alexa on something like TuneIn Radio she stops listening for her Keyword.
sudo journalctl -u AlexaPi.service says:

Dec 08 16:20:04 alexa systemd[1]: Starting Alexa client for all your devices...
Dec 08 16:20:04 alexa systemd[1]: Started Alexa client for all your devices.
Dec 08 16:32:17 alexa python[3074]: [b4912480] core access error: connection failed: Connection refused
De

[2016-12-08 18:22] GamefreakSenpai commented on #149
Amazon didnt had music streaming authorized for non-Amazon echo's. They did in the last update so maybe in the next AlexaPi update there will be those capabilities aswell as http/2 streaming 👍

[2016-12-08 18:59] renekliment commented on #153
You're doing this in the wrong repo. Please open the issue in the correct one. Thank you.

[2016-12-08 18:59] #153 closed

[2016-12-27 19:21] pavankrishnamurthy opened #154 "Getting no response from Alexa"
Hi,

I tried to setup my Rasp Pi 2 Model B, as per the instructions given and modified my sound card settings in the code. I can properly record and playback using my usb headphone connected to PI. But when I run the main.py and record the query and send, I never get a response back. I am not sure if I am doing anything wrong. I can see my recording saved properly and can be played back as well us

[2016-12-30 16:35] peshko opened #155 "USB Microphone resource busy problem..."
I have seen multiple requests in that matter. I tried to update the config, etc. Still, I constantly get resource busy...

Traceback (most recent call last):
  File "/opt/AlexaPi/src/main.py", line 587, in <module>
    loop()
  File "/opt/AlexaPi/src/main.py", line 505, in loop
    inp = alsaaudio.PCM(alsaaudio.PCM_CAPTURE, alsaaudio.PCM_NORMAL, config['sound']['input_device'])
alsaaudio.ALSAAudio

[2016-12-30 17:57] renekliment commented on #155
Hey. You're at the wrong repo.
Also, you probably have PulseAudio (and probably in user-session mode) running, that occupies your sound card.

[2016-12-30 17:57] #155 closed

[2016-12-30 18:04] pavankrishnamurthy commented on #154
I seem to find a clue about my issue. I changed my headphone which was recording in 2 channel, 44.1 kHz to a USB speaker, which can do 1 channel 16kHz. Now I am able to get back the response from Alexa.

[2016-12-30 18:04] #154 closed

[2017-01-05 08:50] steronydh commented on #150
No resolution, closing.

[2017-01-05 08:50] #150 closed

[2017-01-05 08:51] renekliment commented on #150
@steronydh Consider switching over to https://github.com/alexa-pi/AlexaPi

[2017-01-05 11:55] brot14 opened #156 "Connection 404"
Alex just say hallo und in the tunein.log files:

INFO:urllib3.connectionpool:Starting new HTTPS connection (1): api.amazon.com
DEBUG:urllib3.connectionpool:"GET /auth/o2/token HTTP/1.1" 404 29
INFO:urllib3.connectionpool:Starting new HTTPS connection (1): api.amazon.com
DEBUG:urllib3.connectionpool:"GET /auth/o2/token HTTP/1.1" 404 29

[2017-01-05 12:13] renekliment commented on #108
This has been fixed over at the new repo, closing.

[2017-01-05 12:13] #108 closed

[2017-01-05 19:28] santi4488 opened #157 "Audio problem when running as a service"
When running alexapi as a service, I can hear the audio and her responses, but it is not picking up my voice.
Checking the status gave me this:

AlexaPi.service - Alexa client for all your devices
   Loaded: loaded (/usr/lib/systemd/system/AlexaPi.service; enabled)
  Drop-In: /etc/systemd/system/AlexaPi.service.d
           └─restart.conf
   Active: active (running) since Thu 2017-01-05 13:24:02 C

[2017-01-05 19:58] renekliment commented on #157
If you want to run it under a desktop OS, you have to set up PulseAudio in system-wide mode. Checkout out the wiki at the right repo.
This doesn't concern this repo, closing.

[2017-01-05 19:58] #157 closed

[2017-01-05 20:51] jackofallsorts opened #158 "Raspberry Pi Seperate the Audio Output OSMC Image and AlexaPi"
I am looking for Help
I have installed AlexaPi on top of the OSMC image.

When the OSMC boots, I hear the Hello, and if a MIC is not plugged in it keeps repeating the hello.

What I would like to do, is either enable a remote Bluetooth speaker which will act as Mic and Speaker for the AlexaPi

If this is not possible

Can someone guide me how to....or point me to a link that will show me how to...

[2017-01-06 15:57] maso27 commented on #158
Check out the newer repo at https://github.com/alexa-pi/AlexaPi
There's been a lot of development, including the ability to output media streams to a different device than Alexa's voice.

Basically, though, within config.yaml, you can select what input and output AlexaPi will use.  So that's a great place to start.

[2017-01-07 02:33] LittleMiller4 commented on #69
Yes, I'm having issues with this error.

[2017-01-07 09:59] renekliment commented on #69
@LittleMiller4 Do you have a desktop version of the OS? If that is the case, PulseAudio is sitting on the sound card and you can't access it as another user. You'll have to set up PA in system-wide mode.

If you use the new repo (https://github.com/alexa-pi/AlexaPi), there is a how to: https://github.com/alexa-pi/AlexaPi/wiki/Audio-setup-&-debugging#pulseaudio

[2017-01-07 18:59] LittleMiller4 commented on #69
I am running Raspbian Jessie on a Raspberry Pi A. After following that tutorial, Alexa starts and then crashes. And because I set it to restart after crashing in the setup, it's starting then crashing, starting then crashing.
After running main.py:
[code]
Thanks!

[2017-01-07 19:02] renekliment commented on #69
You probably did not add the alexapi user to the pulse-access group.

[2017-01-07 19:02] datafaust opened #159 "main.py resource busy, failing line 126"
I've been working on getting together the chip ECHO setup courtesy of the following post which piggy backs off AlexaPI code:

http://www.instructables.com/id/An-Echo-Device-Using-the-CHIP-9-Computer/?ALLSTEPS

I've run into an issue towards the end. I am getting the following error upon running "sudo python3 main.py". Alexa says "Hello" and then she crashes when I press a button to record, the fol

[2017-01-07 19:06] renekliment commented on #159
Hey. Let's not bother with the old code. Try the new upstream: https://github.com/alexa-pi/AlexaPi

[2017-01-07 19:06] #159 closed

[2017-01-08 01:48] LittleMiller4 commented on #69
This came up after trying again.
`
`The user `alexapi' is already a member of `pulse-access'.`

[2017-01-09 17:28] LittleMiller4 commented on #69
It says the same as above for user 'pi'.

[2017-01-09 18:06] stu0219 commented on #69
Hi:
Maybe the other application take your Mic already, in my experience
there is two way I tried and fixed:
1. Key "ps aux |grep pulse", and find out the pulseaudio process, and kill it, this is process which take my mic.
2. Try to change device name "PlughwX:X" to "Default", this might work too.

 this might be not best solution, but work for me.

[2017-01-15 05:14] amit4111989 opened #160 "Goes into a 'hello' loop after restarting services"
Takes some amount of trial and error to get it to work after installing.

Board : RaspberryPi 3 model B

did sudo service AlexaPi restart. It keeps on saying hello without waiting for response.

[2017-01-15 08:45] renekliment commented on #160
Are you using the new repo? See the Notes section here: https://github.com/alexa-pi/AlexaPi/wiki/Debugging#notes

Closing as irrelevant for this repo.

[2017-01-15 08:45] #160 closed

[2017-01-31 07:13] ssendhil12 opened #161 "alsaaudio.ALSAAudioError: Device or resource busy [plughw:1]"
Hi Guys,

I am using this module with Magic Mirror. Issue is first time I can hear alexa saying hello but after that I get the below error message.

alsaaudio.ALSAAudioError: Device or resource busy [plughw:1]

I am using a logitech c910 usb webcam with built in microphone. The raspberry pi 3 is connected to a TV via HDMI. These are the 2 connections.

I tried to search for plughw in the device va

[2017-01-31 16:25] maso27 commented on #161
@ssendhil12 not sure if you're using this fork or not, but you should be using [this one](https://github.com/alexa-pi/AlexaPi) instead.  Things have changed significantly.

Check the wiki, see if that covers your issues around audio.

[2017-01-31 19:05] ssendhil12 commented on #161
@Maso27 ...thanks Yes I m using the same fork and I had gone thru the Wiki as well. Tried the stuff mentioned there. Still not had a resolution. Any comments pls let me know

[2017-01-31 19:24] maso27 commented on #161
You'll probably get a lot more support if you post this issue in that repository instead of this one.

But here's a start:
1.)  You won't find _plughw_ in _main.py_.  It's located in _/etc/opt/AlexaPi/config.yaml_, where you can configure your audio inputs and outputs.
2.)  I'm not entirely certain if your _plughw_ error is an audio input or output, but since you're hearing the "hello", I'd guess

[2017-01-31 19:29] ssendhil12 commented on #161
@maso27  - Thanks..Agreed I will comment here and post the issue in the repository.

1. Thanks Will take a look
2. Yes Im using a USB webcam (logitech c910) with microphone capability
3. Yes this shows the USB webcam
4. Ok thanks will check and keep you posted

[2017-02-01 06:03] ssendhil12 commented on #161
@maso27 ..Thanks for the pointers...finally figured out that I had turned on the 'voicecontrol' module as part of the magic mirror. I disabled that...there is no more error. For some reason I am unable to awake 'Alexa' It says Hello and goes silent. No errors as well. arecord -l and -L shows the proper usb microphone. WIll keep checking...if u have any more pointers appreciate...Thanks.

[2017-02-01 06:20] ssendhil12 commented on #161
finally made it to work..After having it working few times,..again getting the resource busy error...will check and keep you posted

[2017-02-01 06:39] ssendhil12 commented on #161
finally it is working. Looks like I may need to get a proper usb microphone as it is not very effective. Thanks Maso27 for all the help.

[2017-02-01 06:39] #161 closed

[2017-02-05 11:02] Kinjalk opened #162 "No sound from Raspberry Pi"
I press the button - the red light comes on - then flashes 3 times - no sound comes out of the system.

[2017-02-05 11:52] Kinjalk commented on #162
Please help me. Also i am not getting anything in log

[2017-02-05 16:16] maso27 commented on #162
Use the [newer version](github.com/alexa-pi/AlexaPi), follow the [wiki](https://github.com/alexa-pi/AlexaPi/wiki), then post any issues you might have there.  This version isn't really being developed at this point.

[2017-02-09 15:19] samiultahir commented on #62
I increased the periodSize in main.py to 800 too and it works like a charm ;)

To do this you Edit in IDLE into main.py and CTLR+F

A popup window will open then type 'period' and press 'find next'

Increase the periodSize from (500) to (800)

Please leave a like and comment if this works for you! :)

[2017-02-09 15:22] samiultahir commented on #162
Are your speakers loud enough an is your volume at a high level?

[2017-03-01 07:53] renekliment commented on #69
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:53] #69 closed

[2017-03-01 07:54] renekliment commented on #162
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:54] #162 closed

[2017-03-01 07:54] renekliment commented on #158
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:54] #158 closed

[2017-03-01 07:55] renekliment commented on #156
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:55] #156 closed

[2017-03-01 07:55] renekliment commented on #152
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:55] #152 closed

[2017-03-01 07:55] renekliment commented on #149
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:55] #149 closed

[2017-03-01 07:55] renekliment commented on #148
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:55] #148 closed

[2017-03-01 07:55] renekliment commented on #147
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:55] #147 closed

[2017-03-01 07:56] renekliment commented on #146
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:56] #146 closed

[2017-03-01 07:56] renekliment commented on #144
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:56] #144 closed

[2017-03-01 07:56] renekliment commented on #142
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:56] #142 closed

[2017-03-01 07:56] renekliment commented on #137
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:56] #137 closed

[2017-03-01 07:57] renekliment commented on #136
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:57] #136 closed

[2017-03-01 07:57] renekliment commented on #135
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:57] #135 closed

[2017-03-01 07:57] renekliment commented on #134
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:57] #134 closed

[2017-03-01 07:58] renekliment commented on #133
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:58] #133 closed

[2017-03-01 07:58] renekliment commented on #132
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:58] #132 closed

[2017-03-01 07:58] renekliment commented on #131
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:58] #131 closed

[2017-03-01 07:58] renekliment commented on #130
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:58] #130 closed

[2017-03-01 07:58] renekliment commented on #129
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:58] #129 closed

[2017-03-01 07:59] #128 closed

[2017-03-01 07:59] renekliment commented on #127
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:59] #127 closed

[2017-03-01 07:59] renekliment commented on #123
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:59] #123 closed

[2017-03-01 07:59] renekliment commented on #119
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 07:59] #119 closed

[2017-03-01 08:00] renekliment commented on #113
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 08:00] #113 closed

[2017-03-01 08:00] renekliment commented on #105
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 08:00] #105 closed

[2017-03-01 08:00] renekliment commented on #104
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 08:00] #104 closed

[2017-03-01 08:00] renekliment commented on #95
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 08:00] #95 closed

[2017-03-01 08:00] renekliment commented on #93
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 08:00] #93 closed

[2017-03-01 08:01] renekliment commented on #92
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 08:01] #92 closed

[2017-03-01 08:01] renekliment commented on #79
This project is now deprecated in favor of the new AlexaPi (https://github.com/alexa-pi/AlexaPi) which has all the features of this project and much more, such as:
- support for a wide range of devices and platforms (Raspberry Pi, CHIP, Orange Pi, desktops, Magic Mirror and others)
- voice activation (great PocketSphinx support and snowboy support soon to be released)
- much more robust installati

[2017-03-01 08:01] #79 closed

[2017-03-22 13:58] ChristopherMori commented on #89
Noob here... can someone detail how to fix this issue in better detail? :(

[2017-03-22 17:01] renekliment commented on #89
@ChristopherMori This project is closed. Use https://github.com/alexa-pi/AlexaPi ... if you have issues there, try the _sox_ playback handler. More info in the docs here / chat on Gitter.

[2018-01-25 03:08] JohnsCreek opened #164 "Error when run python transcribe_streaming_mic.py"
I am trying to run python transcribe_streaming_mic.py.  But the following error occurred. I already install pyaudio.

ALSA lib pcm_dmix.c:1052:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm.c:2495:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2495:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2495:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.si

[2018-02-25 13:01] suryapa1 commented on #80
Hi flooie,

Could you share some example on timer/remainder setting in Node/Python version.

email me @ suryapa1@gmail.com

[2018-02-28 08:23] alexchen19840131 opened #165 "400 Bad Request"
I want to get the refreshToken and accessToken by using the cmd “python.exe AuthServer.py AlexaClientSDKConfig.json” in windows, but the result is failed.
The fail information is :
400 Bad Request
The redirect URI you provided has not been whitelisted for your application. Please add your redirect URI in the 'Allowed Return URLs' section under 'Web Settings' for your Security Profile on Amazon Dev

[2018-10-18 01:54] chimeranzl commented on #43
Old post I know, but for anyone else... Delete the line refresh_token: "_token_code_"

and replace with...

refresh_token:

(no double quotes after it)  then try again.  It seems the internal error 500 is caused by the token line existing in the /etc/opt/Alexpi/config.yaml file.

[2019-05-27 14:38] raerosaine11 opened #167 "traceback issue"
Traceback (most recent call last):
  File "firefly.py", line 103, in <module>
    main()
  File "firefly.py", line 50, in main
    country_code = obj['country_code']
KeyError: 'country_code'

[2019-05-27 14:38] raerosaine11 commented on #167
i cant run my python2.7 asy

[2019-09-09 03:11] harismalik93 opened #168 "can anyone help me out"
I am new in python guys. Kindly help me out
Traceback (most recent call last):
  File "main.py", line 61, in <module>
    from utils.utility import cmp_value, value, merge_qi_value
ImportError: No module named 'utils'

[2021-11-29 08:20] Robledog87 opened #169 "zybook 8.18.1: Ch 8 Warm up: People's weights"
having issues submitting on main.py (python)
error:
Exited with return code 1.
Traceback (most recent call last):
  File "main.py", line 11, in <module>
    index = int(input('Enter a list index (1 - 4):\n'))
EOFError: EOF when reading a line

my code:
'weights = [float(input('Enter weight 1:\n')),
           float(input('Enter weight 2:\n')),
           float(input('Enter weight 3:\n')),